<div data-role="page" data-theme="b" id="add-bank">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Add Bank</h1>

    <a href="#payment-options" data-role="button" data-icon="back" data-direction="reverse">Back</a>

  </div>

  <div data-role="content" data-theme="a">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="bank-name"><strong>Bank Name</strong></label>
        <input type="text" id="bank-name" ng-model="bank.bankName">
        <label for="bank-account-name"><strong>Account Name</strong></label>
        <input type="text" id="bank-account-name" ng-model="bank.ownerName">
        <label for="bank-account-type"><strong>Account Type</strong></label>
        <select id="bank-account-type" ng-model="bank.accountType" required>
          <option value="Checking" selected>Checking</option>
          <option value="Savings">Saving</option>
          <option value="Other">Other</option>
        </select>
        <label for="bank-account-number"><strong>Account Number</strong></label>
        <input type="number" min="0" id="bank-account-number" ng-model="bank.accountNumber">
        <label for="bank-account-routing"><strong>Routing Number</strong></label>
        <input type="number" min="0" id="bank-account-routing" ng-model="bank.routingNumber">
        <label for="address-relation"><strong>Associated Address</strong></label>
        <select id="address-relation" ng-model="bank.addressId"
                ng-options="bill.addressId as bill.address for bill in billAddresses" required>
          <option value="" ng-hide="bank.addressId">Please Choose</option>
        </select>
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#payment-options" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
      <!--jqm1.3.2-->
      <!--<div data-role="controlgroup" data-type="horizontal" style="text-align: center">-->
        <!--<a href="#payment-options" data-role="button" data-icon="back" data-theme="a"-->
           <!--data-transition="fade">Cancel</a>-->
        <!--&lt;!&ndash;<a href="#payment-options" data-role="button" data-icon="check" data-theme="a"&ndash;&gt;-->
        <!--&lt;!&ndash;data-transition="fade">Submit</a>&ndash;&gt;-->
        <!--<button type="submit" data-icon="check" data-theme="a">Submit</button>-->
      <!--</div>-->
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
