<div data-role="page" data-theme="b" id="add-billing-address">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Add Billing Address</h1>

    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>

    <search></search>

  </div>

  <div data-role="content" data-theme="a">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="name"><strong>Name</strong></label>
        <input type="text" id="name" ng-model="billAddresses.recipientName">
        <label for="address"><strong>Address</strong></label>
        <input type="text" id="address" ng-model="billAddresses.billAddress">
        <label for="country"><strong>Country</strong></label>
        <input type="text" id="country" ng-model="billAddresses.country">
        <label for="city"><strong>City</strong></label>
        <input type="text" id="city" ng-model="billAddresses.city">
        <label for="geographical-region"><strong>State/Region/Providence</strong></label>
        <input type="text" id="geographical-region" ng-model="billAddresses.geographicalRegion">
        <label for="zip-code"><strong>Zip Code</strong></label>
        <input type="tel" id="zip-code" ng-model="billAddresses.zipCode">
        <label for="telephone"><strong>Telephone</strong></label>
        <input type="tel" id="telephone" ng-model="billAddresses.telephone">
        <!--<h3>Associate with at least one.</h3>-->
        <!--<label for="cart-relation">Card Associated</label>-->
        <!--<select id="cart-relation">-->
        <!--<option value="None" selected>None</option>-->
        <!--<option value="Visa - 1827390276489382">Visa - 1827390276489382</option>-->
        <!--<option value="American Express - 0192837291839201">American Express - 0192837291839201</option>-->
        <!--</select>-->
        <!--<label for="bank-relation">Bank Associated</label>-->
        <!--<select id="bank-relation">-->
        <!--<option value="None"  selected>None</option>-->
        <!--<option value="PNC - 92873819">PNC - 92873819</option>-->
        <!--<option value="Popular - 01938429">Popular - 01938429</option>-->
        <!--</select>-->
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#profile" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
      <!--<div data-role="controlgroup" data-type="horizontal" style="text-align: center">-->
        <!--<a href="#profile" data-role="button" data-icon="back" data-theme="a"-->
           <!--data-transition="fade">Cancel</a>-->
        <!--<button type="submit" data-icon="check" data-theme="a">Submit</button>-->
        <!--&lt;!&ndash;<a href="#profile" data-role="button" data-icon="check" data-theme="a"&ndash;&gt;-->
        <!--&lt;!&ndash;data-transition="fade">Submit</a>&ndash;&gt;-->
      <!--</div>-->
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
