<div data-role="page" data-theme="b" id="add-bank">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Add Bank</h1>
    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content" data-theme="b">
    <form name="addBankForm" data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="addBank-name"><strong>Bank Name</strong></label>
        <input type="text" name="addBankName" id="addBank-name" maxlength="160" data-theme="a"
               ng-model="bank.bankName" ng-pattern="patternBankName" ng-required="true">
        <div ng-show="addBankForm.addBankName.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-accountOwnerName"><strong>Account Owner Name</strong></label>
        <input type="text" name="addBankAccountOwnerName" id="addBank-accountOwnerName" maxlength="160" data-theme="a"
               ng-model="bank.ownerName" ng-pattern="patternOwnerName" ng-required="true">
        <div ng-show="addBankForm.addBankAccountOwnerName.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-accountType"><strong>Account Type</strong></label>
        <select name="addBankAccountType" id="addBank-accountType" data-theme="a"
                ng-model="bank.accountType" ng-required="true">
          <option value="Checking" selected>Checking</option>
          <option value="Savings">Saving</option>
          <option value="Other">Other</option>
        </select>
        <label for="addBank-accountNumber"><strong>Account Number</strong></label>
        <input type="tel" name="addBankAccountNumber" id="addBank-accountNumber" maxlength="17" data-theme="a"
               ng-model="bank.accountNumber" ng-pattern="patternAccNumber" ng-required="true">
        <div ng-show="addBankForm.addBankAccountNumber.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-accountRouting"><strong>Routing Number</strong></label>
        <input type="tel" name="addBankAccountRouting" id="addBank-accountRouting" maxlength="9" data-theme="a"
               ng-model="bank.routingNumber" ng-pattern="patternRoutingNumber" ng-required="true">
        <div ng-show="addBankForm.addBankAccountRouting.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-associatedAddress"><strong>Associated Address</strong></label>
        <select name="addBankAssociatedAddress" id="addBank-associatedAddress" data-theme="a"
                ng-model="bank.addressId"
                ng-options="bill.id as bill.address for bill in billAddresses"
                ng-required="true">
          <option value="">New Billing Address</option>
        </select>
      </div>
      <div class="form-pad" ng-hide="bank.addressId">
        <label for="addBank-recipientName"><strong>Full Name</strong></label>
        <input type="text" name="addBankRecipientName" id="addBank-recipientName" maxlength="160" data-theme="a"
               ng-model="bank.recipientName" ng-pattern="patternFullName" ng-required="!bank.addressId">
        <div ng-show="addBankForm.addBankRecipientName.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-address"><strong>Address</strong></label>
        <input type="text" name="addBankAddress" id="addBank-address" maxlength="255" data-theme="a"
               ng-model="bank.billAddress" ng-pattern="patternAddress" ng-required="!bank.addressId">
        <div ng-show="addBankForm.addBankAddress.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-country"><strong>Country</strong></label>
        <input type="text" name="addBankCountry" id="addBank-country" maxlength="45" data-theme="a"
               ng-model="bank.country" ng-pattern="patternCountry" ng-required="!bank.addressId">
        <div ng-show="addBankForm.addBankCountry.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-city"><strong>City</strong></label>
        <input type="text" name="addBankCity" id="addBank-city" maxlength="45" data-theme="a"
               ng-model="bank.city" ng-pattern="patternCity" ng-required="!bank.addressId">
        <div ng-show="addBankForm.addBankCity.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-geoRegion"><strong>State/Region/Providence</strong></label>
        <input type="text" name="addBankGeoRegion" id="addBank-geoRegion" maxlength="45" data-theme="a"
               ng-model="bank.geoRegion" ng-pattern="patternGeoRegion" ng-required="false">
        <div ng-show="addBankForm.addBankGeoRegion.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-zipCode"><strong>Zip Code</strong></label>
        <input type="tel" name="addBankZipCode" id="addBank-zipCode" maxlength="10" data-theme="a"
               ng-model="bank.zipCode" ng-pattern="patternZipCode" ng-required="!bank.addressId">
        <div ng-show="addBankForm.addBankZipCode.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addBank-telephone"><strong>Telephone</strong></label>
        <input type="tel" name="addBankTelephone" id="addBank-telephone" maxlength="10" data-theme="a"
               ng-model="bank.telephone" ng-pattern="patternTelephone" ng-required="!bank.addressId">
        <div ng-show="addBankForm.addBankTelephone.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="a" style="text-align: center">
        <a href="#payment-options" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check" ng-class="{false: 'ui-disabled'}[addBankForm.$valid]">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="popup" id="addBank-statusPopup" data-theme="b" class="ui-corner-all ui-content">
    <a href="#add-bank" data-rel="external" data-role="button" data-theme="a" data-icon="delete"
       data-iconpos="notext" class="ui-btn-right">Close</a>
    <p id="addBank-statusPopupMessage" style="text-align: center"></p>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
