<div data-role="page" data-theme="b" id="add-card">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Add Card</h1>
    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content" data-theme="b">
    <form name="addCardForm" data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="addCard-ownerName"><strong>Card Owner Name</strong></label>
        <input type="text" name="addCardOwnerName" id="addCard-ownerName" maxlength="160" data-theme="a"
               ng-model="card.ownerName" ng-pattern="patternOwnerName" ng-required="true">
        <div ng-show="addCardForm.addCardOwnerName.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-type"><strong>Card Type</strong></label>
        <select name="addCardType" id="addCard-type" data-theme="a"
                ng-model="card.cardType" ng-required="true">
          <option value="Visa" selected>Visa</option>
          <option value="MasterCard">MasterCard</option>
          <option value="AmericanExpress">AmericanExpress</option>
          <option value="Other">Other</option>
        </select>
        <label for="addCard-expDate"><strong>Expiration Date</strong></label>
        <input type="month" name="addCardExpDate" id="addCard-expDate" maxlength="7" data-theme="a"
               ng-model="card.expirationDate" ng-pattern="patternExpDate" ng-required="true">
        <div ng-show="addCardForm.addCardExpDate.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-number"><strong>Card Number</strong></label>
        <input type="tel" name="addCardNumber" id="addCard-number" maxlength="16" data-theme="a"
               ng-model="card.cardNumber" ng-pattern="patternNumber" ng-required="true">
        <div ng-show="addCardForm.addCardNumber.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-cardSecurityCode"><strong>Card Security Code</strong></label>
        <input type="tel" name="addCardCardSecurityCode" id="addCard-cardSecurityCode" maxlength="4" data-theme="a"
               ng-model="card.cardCsv" ng-pattern="patternCsv" ng-required="true">
        <div ng-show="addCardForm.addCardCardSecurityCode.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-associatedAddress"><strong>Associated Address</strong></label>
        <select name="addCardAssociatedAddress" id="addCard-associatedAddress" data-theme="a"
                ng-model="card.billId"
                ng-options="bill.id as bill.address for bill in billAddresses"
                ng-required="false">
          <option value="">New Billing Address</option>
        </select>
      </div>
      <div class="form-pad" ng-hide="card.billId">
        <label for="addCard-recipientName"><strong>Full Name</strong></label>
        <input type="text" name="addCardRecipientName" id="addCard-recipientName" maxlength="160" data-theme="a"
               ng-model="card.recipientName" ng-pattern="patternFullName" ng-required="!card.billId">
        <div ng-show="addCardForm.addCardRecipientName.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-address"><strong>Address</strong></label>
        <input type="text" name="addCardAddress" id="addCard-address" maxlength="255" data-theme="a"
               ng-model="card.billAddress" ng-pattern="patternAddress" ng-required="!card.billId">
        <div ng-show="addCardForm.addCardAddress.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-country"><strong>Country</strong></label>
        <input type="text" name="addCardCountry" id="addCard-country" maxlength="45" data-theme="a"
               ng-model="card.country" ng-pattern="patternCountry" ng-required="!card.billId">
        <div ng-show="addCardForm.addCardCountry.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-city"><strong>City</strong></label>
        <input type="text" name="addCardCity" id="addCard-city" maxlength="45" data-theme="a"
               ng-model="card.city" ng-pattern="patternCity" ng-required="!card.billId">
        <div ng-show="addCardForm.addCardCity.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-geoRegion"><strong>State/Region/Providence</strong></label>
        <input type="text" name="addCardGeoRegion" id="addCard-geoRegion" maxlength="45" data-theme="a"
               ng-model="card.geoRegion" ng-pattern="patternGeoRegion" ng-required="false">
        <div ng-show="addCardForm.addCardGeoRegion.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-zipCode"><strong>Zip Code</strong></label>
        <input type="tel" name="addCardZipCode" id="addCard-zipCode" maxlength="10" data-theme="a"
               ng-model="card.zipCode" ng-pattern="patternZipCode" ng-required="!card.billId">
        <div ng-show="addCardForm.addCardZipCode.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="addCard-telephone"><strong>Telephone</strong></label>
        <input type="tel" name="addCardTelephone" id="addCard-telephone" maxlength="10" data-theme="a"
               ng-model="card.telephone" ng-pattern="patternTelephone" ng-required="!card.billId">
        <div ng-show="addCardForm.addCardTelephone.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="a" style="text-align: center">
        <a href="#payment-options" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check" ng-class="{false: 'ui-disabled'}[addCardForm.$valid]">Submit</button>
      </div>
    </form>

  </div>

  <div data-role="popup" id="addCard-statusPopup" data-theme="b" class="ui-corner-all ui-content">
    <a href="#add-card" data-rel="external" data-role="button" data-theme="a" data-icon="delete"
       data-iconpos="notext" class="ui-btn-right">Close</a>
    <p id="addCard-statusPopupMessage" style="text-align: center"></p>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
