<div data-role="page" data-theme="b" id="add-card">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Add Card</h1>

        <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>

    </div>

    <div data-role="content">
        <form data-ajax="false" ng-submit="submit()">
            <div class="form-pad">
                <label for="card-name"><strong>Card Name</strong></label>
                <input type="text" id="card-name" ng-model="card.creditCardName">
                <label for="card-type"><strong>Card Type</strong></label>
                <select id="card-type" ng-model="card.creditCardType">
                    <option value="Visa" selected>Visa</option>
                    <option value="MasterCard">MasterCard</option>
                    <option value="AmericanExpress">AmericanExpress</option>
                    <option value="Other">Other</option>
                </select>
                <label for="card-exp-date"><strong>Expiration Date</strong></label>
                <input type="date" id="card-exp-date" ng-model="card.creditExpDate">
                <label for="card-number"><strong>Card Number</strong></label>
                <input type="number" id="card-number" ng-model="card.creditCardNumber">
                <label for="card-cvs"><strong>Card CVS</strong></label>
                <input type="number" id="card-cvs" ng-model="card.creditCardCvs">
                <label for="address-relation"><strong>Associated Address</strong></label>
                <select id="address-relation" ng-model="card.creditCardBillingAddressId"
                        ng-options="bill.billAddressId as bill.billAddress for bill in billAddresses">
                </select>
                <!--<select id="address-relation" ng-model="card.creditCardBillingAddress">-->
                    <!--<option value="Urb. Mata La Vaca, Cuchillo Street"  selected>Urb. Mata La Vaca, Cuchillo Street</option>-->
                    <!--<option value="Urb. Pollo Mojao, Pechuga Street">Urb. Pollo Mojao, Pechuga Street</option>-->
                    <!--<option value="Barrio Palmas, Calle Perla">Barrio Palmas, Calle Perla</option>-->
                <!--</select>-->
            </div>
            <div data-role="controlgroup" data-type="horizontal" style="text-align: center">
                <a href="#payment-options" data-role="button" data-icon="back" data-theme="a"
                   data-transition="fade">Cancel</a>
                <button type="submit" data-icon="check" data-theme="a">Submit</button>
            </div>
        </form>
    </div>

    <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

</div>
