<div data-role="page" data-theme="b" id="add-card">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Add Card</h1>

    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>

  </div>

  <div data-role="content" data-theme="a">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="card-name"><strong>Card Name</strong></label>
        <input type="text" id="card-name" ng-model="card.ownerName">
        <label for="card-type"><strong>Card Type</strong></label>
        <select id="card-type" name="card-type" ng-model="card.cardType" required>
          <option value="Visa" selected>Visa</option>
          <option value="MasterCard">MasterCard</option>
          <option value="AmericanExpress">AmericanExpress</option>
          <option value="Other">Other</option>
        </select>
        <label for="card-exp-date"><strong>Expiration Date</strong></label>
        <input type="month" id="card-exp-date" ng-model="card.expirationDate">
        <label for="card-number"><strong>Card Number</strong></label>
        <input type="number" min="0" id="card-number" ng-model="card.cardNumber">
        <label for="card-cvs"><strong>Card CVS</strong></label>
        <input type="number" min="0" id="card-cvs" ng-model="card.cardCsv">
        <label for="address-relation"><strong>Associated Address</strong></label>
        <select id="address-relation" ng-model="card.addressId"
                ng-options="bill.addressId as bill.address for bill in billAddresses" required>
          <option value="" ng-hide="card.addressId">Please Choose</option>
        </select>
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#payment-options" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
