<div data-role="page" data-theme="b" id="add-mailing-address">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Add Mailing Address</h1>
    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content" data-theme="a">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="addMail-name"><strong>Name</strong></label>
        <input type="text" id="addMail-name" ng-model="mailAddresses.recipientName" ng-required="true">
        <label for="addMail-address"><strong>Address</strong></label>
        <input type="text" id="addMail-address" ng-model="mailAddresses.mailAddress" ng-required="true">
        <label for="addMail-country"><strong>Country</strong></label>
        <input type="text" id="addMail-country" ng-model="mailAddresses.country" ng-required="true">
        <label for="addMail-city"><strong>City</strong></label>
        <input type="text" id="addMail-city" ng-model="mailAddresses.city" ng-required="true">
        <label for="addMail-geographicalRegion"><strong>State/Region/Providence</strong></label>
        <input type="text" id="addMail-geographicalRegion" ng-model="mailAddresses.geographicalRegion"
               ng-required="false">
        <label for="addMail-zipCode"><strong>Zip Code</strong></label>
        <input type="tel" id="addMail-zipCode" ng-model="mailAddresses.zipCode" ng-required="true">
        <label for="addMail-telephone"><strong>Telephone</strong></label>
        <input type="tel" id="addMail-telephone" ng-model="mailAddresses.telephone" ng-required="true">
        <label for="addMail-makePrimary">Make Primary</label>
        <input name="make-primary" id="addMail-makePrimary" class="custom" data-mini="true" type="checkbox"
               ng-model="mailAddresses.isPrimary" ng-required="false">
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#profile" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
