<div data-role="page" data-theme="b" id="add-mailing-address">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Add Mailing Address</h1>

    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
    <a href="#shopping-cart" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>
    <input id="search" name="search" type="search" data-mini="true" placeholder="Search">
    <search></search>

  </div>

  <div data-role="content">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="name"><strong>Name</strong></label>
        <input type="text" id="name" ng-model="mailAddresses.recipientName">
        <label for="address"><strong>Address</strong></label>
        <input type="text" id="address" ng-model="mailAddresses.mailAddress">
        <label for="country"><strong>Country</strong></label>
        <input type="text" id="country" ng-model="mailAddresses.country">
        <label for="city"><strong>City</strong></label>
        <input type="text" id="city" ng-model="mailAddresses.city">
        <label for="geographical-region"><strong>State/Region/Providence</strong></label>
        <input type="text" id="geographical-region" ng-model="mailAddresses.geographicalRegion">
        <label for="zip-code"><strong>Zip Code</strong></label>
        <input type="number" id="zip-code" ng-model="mailAddresses.zipCode">
        <label for="telephone"><strong>Telephone</strong></label>
        <input type="tel" id="telephone" ng-model="mailAddresses.telephone">
        <label for="make-primary">Make Primary</label>
        <input name="make-primary" id="make-primary" class="custom" data-mini="true" type="checkbox" ng-model="mailAddresses.isPrimary">
      </div>
      <div data-role="controlgroup" data-type="horizontal" style="text-align: center">
        <a href="#profile" data-role="button" data-icon="back" data-theme="a"
           data-transition="fade">Cancel</a>
          <button type="submit" data-icon="check" data-theme="a">Submit</button>
        <!--<a href="#profile" data-role="button" data-icon="check" data-theme="a"-->
           <!--data-transition="fade">Submit</a>-->
      </div>
    </form>
  </div>

  <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

</div>
