<div data-role="page" data-theme="b" id="edit-billing-address">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Edit Billing Address</h1>

        <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>
        <a href="#shopping-cart" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>
        <input id="search" name="search" type="search" data-mini="true" placeholder="Search">
    </div>

    <div data-role="content">
    </div>

    <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

</div>
