<div data-role="page" data-theme="b" id="edit-mailing-address">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Edit Mailing Address</h1>
    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content" data-theme="a">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="editMail-name"><strong>Name</strong></label>
        <input type="text" id="editMail-name" ng-model="mailInfo.recipientName" ng-required="true">
        <label for="editMail-address"><strong>Address</strong></label>
        <input type="text" id="editMail-address" ng-model="mailInfo.address" ng-required="true">
        <label for="editMail-country"><strong>Country</strong></label>
        <input type="text" id="editMail-country" ng-model="mailInfo.country" ng-required="true">
        <label for="editMail-city"><strong>City</strong></label>
        <input type="text" id="editMail-city" ng-model="mailInfo.city" ng-required="true">
        <label for="editMail-geographicalRegion"><strong>State/Region/Providence</strong></label>
        <input type="text" id="editMail-geographicalRegion" ng-model="mailInfo.geographicalRegion" ng-required="false">
        <label for="editMail-zipCode"><strong>Zip Code</strong></label>
        <input type="tel" id="editMail-zipCode" ng-model="mailInfo.zipCode" ng-required="true">
        <label for="editMail-telephone"><strong>Telephone</strong></label>
        <input type="tel" id="editMail-telephone" ng-model="mailInfo.telephone" ng-required="true">
        <label for="editMail-makePrimary">Make Primary</label>
        <input name="make-primary" id="editMail-makePrimary" class="custom" data-mini="true" type="checkbox"
               ng-model="mailInfo.isPrimary" ng-required="false">
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#profile" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
