<div data-role="page" data-theme="b" id="edit-user"> <!-- data-role="page" delinate a page -->

    <!-- Header of the page -->
    <div data-role="header" data-theme="a" data-position="fixed" id="index-header">
        <h1>Edit User</h1>
        <a href="#user-accounts" data-role="button" data-icon="back" data-direction="reverse">Back</a>
    </div>

    <div data-role="content">
        <form action="#">
            <div class="form-pad">
                <h4>UserName: <span class="ui-li-count">Pildora</span></h4>
                <label for="firstname"><strong>First Name</strong></label>
                <input type="text" id="firstname" value="Luz">
                <label for="middlename"><strong>Middle Name</strong></label>
                <input type="text" id="middlename" value="Del">
                <label for="lastname"><strong>Last Name</strong></label>
                <input type="text" id="lastname" value="Valle">
                <label for="email"><strong>Email</strong></label>
                <input type="email" id="email" value="luz.del.valle@ptm.com">
                <label for="new-password"><strong>New Password</strong></label>
                <input type="password" id="new-password" autocomplete="off" value="">
                <label for="new-password-confirm"><strong>Confirm Password</strong></label>
                <input type="password" id="new-password-confirm" autocomplete="off" value="">
            </div>
            <div data-role="controlgroup" data-type="horizontal" style="text-align: center">
                <a href="#user-accounts" data-role="button" data-icon="back" data-theme="a" data-transition="fade">Cancel</a>
                <a href="#user-accounts" data-role="button" data-icon="check" data-theme="a" data-transition="fade">Submit</a>
            </div>
        </form>
    </div>

    <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

</div>
