<div data-role="page" data-theme="b" id="edit-card">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Edit Card</h1>
    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content" data-theme="b">
    <form name="editCardForm" data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="editCard-ownerName"><strong>Card Owner Name</strong></label>
        <input type="text" name="editCardOwnerName" id="editCard-ownerName" maxlength="160" data-theme="a"
               ng-model="cardInfo.ownerName" ng-pattern="patternOwnerName" ng-required="true">
        <div ng-show="editCardForm.editCardOwnerName.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-type"><strong>Card Type</strong></label>
        <select name="editCardType" id="editCard-type" data-theme="a"
                ng-model="cardInfo.cardType" ng-required="true">
          <option value="Visa">Visa</option>
          <option value="MasterCard">MasterCard</option>
          <option value="AmericanExpress">AmericanExpress</option>
          <option value="Other">Other</option>
        </select>
        <label for="editCard-expDate"><strong>Expiration Date</strong></label>
        <input type="month" name="editCardExpDate" id="editCard-expDate" maxlength="7" data-theme="a"
               ng-model="cardInfo.expirationDate" ng-pattern="patternExpDate" ng-required="true">
        <div ng-show="editCardForm.editCardExpDate.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-number"><strong>Card Number</strong></label>
        <input type="tel" name="editCardNumber" id="editCard-number" maxlength="16" data-theme="a"
               ng-model="cardInfo.cardNumber" ng-pattern="patternNumber" ng-required="true">
        <div ng-show="editCardForm.editCardNumber.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-cardSecurityCode"><strong>Card Security Code</strong></label>
        <input type="tel" name="editCardCardSecurityCode" id="editCard-cardSecurityCode" maxlength="4" data-theme="a"
               ng-model="cardInfo.cardCsv" ng-pattern="patternCsv" ng-required="true">
        <div ng-show="editCardForm.editCardCardSecurityCode.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-associatedAddress"><strong>Associated Address</strong></label>
        <select name="editCardAssociatedAddress" id="editCard-associatedAddress" data-theme="a"
                ng-model="cardInfo.billId"
                ng-options="bill.id as bill.address for bill in billAddresses"
                ng-required="true">
          <option value="">New Billing Address</option>
        </select>
      </div>
      <div class="form-pad" ng-hide="cardInfo.billId">
        <label for="editCard-recipientName"><strong>Full Name</strong></label>
        <input type="text" name="editCardRecipientName" id="editCard-recipientName" maxlength="160" data-theme="a"
               ng-model="cardInfo.recipientName" ng-pattern="patternFullName" ng-required="!cardInfo.billId">
        <div ng-show="editCardForm.editCardRecipientName.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-address"><strong>Address</strong></label>
        <input type="text" name="editCardAddress" id="editCard-address" maxlength="255" data-theme="a"
               ng-model="cardInfo.billAddress" ng-pattern="patternAddress" ng-required="!cardInfo.billId">
        <div ng-show="editCardForm.editCardAddress.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-country"><strong>Country</strong></label>
        <input type="text" name="editCardCountry" id="editCard-country" maxlength="45" data-theme="a"
               ng-model="cardInfo.country" ng-pattern="patternCountry" ng-required="!cardInfo.billId">
        <div ng-show="editCardForm.editCardCountry.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-city"><strong>City</strong></label>
        <input type="text" name="editCardCity" id="editCard-city" maxlength="45" data-theme="a"
               ng-model="cardInfo.city" ng-pattern="patternCity" ng-required="!cardInfo.billId">
        <div ng-show="editCardForm.editCardCity.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-geoRegion"><strong>State/Region/Providence</strong></label>
        <input type="text" name="editCardGeoRegion" id="editCard-geoRegion" maxlength="45" data-theme="a"
               ng-model="cardInfo.geoRegion" ng-pattern="patternGeoRegion" ng-required="false">
        <div ng-show="editCardForm.editCardGeoRegion.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-zipCode"><strong>Zip Code</strong></label>
        <input type="tel" name="editCardZipCode" id="editCard-zipCode" maxlength="10" data-theme="a"
               ng-model="cardInfo.zipCode" ng-pattern="patternZipCode" ng-required="!cardInfo.billId">
        <div ng-show="editCardForm.editCardZipCode.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
        <label for="editCard-telephone"><strong>Telephone</strong></label>
        <input type="tel" name="editCardTelephone" id="editCard-telephone" maxlength="10" data-theme="a"
               ng-model="cardInfo.telephone" ng-pattern="patternTelephone" ng-required="!cardInfo.billId">
        <div ng-show="editCardForm.editCardTelephone.$error.pattern" class="labelError">
          <strong><em>Wrong Format.</em></strong>
        </div>
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="a" style="text-align: center">
        <a href="#payment-options" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check" ng-class="{false: 'ui-disabled'}[editCardForm.$valid]">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="popup" id="editCard-statusPopup" data-theme="b" class="ui-corner-all ui-content">
    <a href="#edit-card" data-rel="external" data-role="button" data-theme="a" data-icon="delete"
       data-iconpos="notext" class="ui-btn-right">Close</a>
    <p id="editCard-statusPopupMessage" style="text-align: center"></p>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
