<div data-role="page" data-theme="b" id="edit-mailing-address">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Edit Mailing Address</h1>

    <a href="#profile" data-role="button" data-icon="back" data-direction="reverse">Back</a>

  </div>

  <div data-role="content" data-theme="a">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="name"><strong>Name</strong></label>
        <input type="text" id="name" ng-model="mailInfo.recipientName">
        <label for="address"><strong>Address</strong></label>
        <input type="text" id="address" ng-model="mailInfo.address">
        <label for="country"><strong>Country</strong></label>
        <input type="text" id="country" ng-model="mailInfo.country">
        <label for="city"><strong>City</strong></label>
        <input type="text" id="city" ng-model="mailInfo.city">
        <label for="geographical-region"><strong>State/Region/Providence</strong></label>
        <input type="text" id="geographical-region" ng-model="mailInfo.geographicalRegion">
        <label for="zip-code"><strong>Zip Code</strong></label>
        <input type="tel" id="zip-code" ng-model="mailInfo.zipCode">
        <label for="telephone"><strong>Telephone</strong></label>
        <input type="tel" id="telephone" ng-model="mailInfo.telephone">
        <label for="make-primary">Make Primary</label>
        <input name="make-primary" id="make-primary" class="custom" data-mini="true" type="checkbox"
               ng-model="mailInfo.isPrimary">
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#profile" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
      <!--<div data-role="controlgroup" data-type="horizontal" style="text-align: center">-->
      <!--<a href="#profile" data-role="button" data-icon="back" data-theme="a"-->
      <!--data-transition="fade">Cancel</a>-->
      <!--&lt;!&ndash;<a href="#profile" data-role="button" data-icon="check" data-theme="a"&ndash;&gt;-->
      <!--&lt;!&ndash;data-transition="fade">Submit</a>&ndash;&gt;-->
      <!--<button type="submit" data-icon="check" data-theme="a">Submit</button>-->
      <!--</div>-->
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
