<div data-role="page" data-theme="b" id="forgot-password">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Password Recovery</h1>
    <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="forgot-email">Email</label>
        <input type="email" id="forgot-email" ng-model="forgot.email" data-theme="a" ng-required="true">
        <label for="forgot-username">Username</label>
        <input type="text" id="forgot-username" data-theme="a" ng-model="forgot.username" ng-required="true">
        <label for="forgot-securityQuestion-1">Security Questions</label>
        <select id="forgot-securityQuestion-1" ng-model="forgot.question1"
                ng-options="question.id as question.question for question in questions"
                data-theme="a" ng-required="true">
          <option value="" ng-hide="forgot.question1">Select a question</option>
        </select>
        <label for="forgot-securityAnswer-1"></label>
        <input type="text" id="forgot-securityAnswer-1" placeholder="Answer" data-theme="a" ng-model="forgot.answer1"
               ng-required="true">
        <label for="forgot-securityQuestion-2"></label>
        <select id="forgot-securityQuestion-2" ng-model="forgot.question2"
                ng-options="question.id as question.question for question in questions"
                data-theme="a" ng-required="true">
          <option value="" ng-hide="forgot.question2">Select a question</option>
        </select>
        <label for="forgot-securityAnswer-2"></label>
        <input type="text" id="forgot-securityAnswer-2" placeholder="Answer" data-theme="a" ng-model="forgot.answer2"
               ng-required="true">
        <label for="forgot-securityQuestion-3"></label>
        <select id="forgot-securityQuestion-3" ng-model="forgot.question3"
                ng-options="question.id as question.question for question in questions"
                data-theme="a" ng-required="true">
          <option value="" ng-hide="forgot.question3">Select a question</option>
        </select>
        <label for="forgot-securityAnswer-3"></label>
        <input type="text" id="forgot-securityAnswer-3" placeholder="Answer" data-theme="a" ng-model="forgot.answer3"
               ng-required="true">
        <label for="forgot-newPassword">New Password</label>
        <input type="password" id="forgot-newPassword" autocomplete="off" data-theme="a" ng-model="forgot.newPassword"
               ng-required="true">
        <label for="forgot-passwordConfirm">Confirm Password</label>
        <input type="password" id="forgot-passwordConfirm" autocomplete="off"
               data-theme="a" ng-model="forgot.newPasswordConfirm" ng-required="true">
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="a" style="text-align: center">
        <a href="#index-page" data-role="button" data-icon="delete" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="popup" id="forgot-changeStatus" data-theme="a" class="ui-corner-all ui-content">
    <a href="#forgot-password" data-rel="external" data-role="button" data-theme="b" data-icon="delete"
       data-iconpos="notext" class="ui-btn-right">Close</a>

    <p id="forgot-changeStatusMessage" style="text-align: center"></p>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
