<div data-role="page" data-theme="b" id="forgot-password">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Pass Recovery</h1>

    <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>

  </div>

  <div data-role="content">
    <form action="#">
      <div style="padding:10px 20px;">
        <label for="email">Email</label>
        <input type="email" id="email" value="">
        <label for="username">Username</label>
        <input type="text" id="username" value="">

        <label for="security-questions-1">Security Questions</label>
        <select id="security-questions-1" ng-model="question1"
                ng-options="question.id as question.question for question in questions">
          <option value="" ng-hide="question1">Select a question</option>
        </select>
        <input type="text" id="security-answer-1" value="" placeholder="Answer">

        <label for="security-questions-2"></label>
        <select id="security-questions-2" ng-model="question2"
                ng-options="question.id as question.question for question in questions">
          <option value="" ng-hide="question2">Select a question</option>
        </select>
        <input type="text" id="security-answer-2" value="" placeholder="Answer">

        <label for="security-questions-3"></label>
        <select id="security-questions-3" ng-model="question3"
                ng-options="question.id as question.question for question in questions">
          <option value="" ng-hide="question3">Select a question</option>
        </select>
        <input type="text" id="security-answer-3" value="" placeholder="Answer">
      </div>

      <div data-role="controlgroup" data-type="horizontal" style="text-align: center">
        <a href="#index-page" data-role="button" data-icon="delete" data-theme="a"
           data-transition="fade">Cancel</a>
        <a href="#index-page" data-role="button" data-icon="check" data-theme="a"
           data-transition="fade">Submit</a>
      </div>
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
