<div data-role="page" data-theme="b" id="forgot-password">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Pass Recovery</h1>

        <a href="#login-user" data-role="button" data-icon="back" data-direction="reverse">Back</a>

        <a href="#shopping-cart" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>

        <input id="search" name="search" type="search" data-mini="true" placeholder="Search">
    </div>

    <div data-role="content" data-theme="b">
        <form action="#">
            <div style="padding:10px 20px;">
                <label for="email">Email</label>
                <input type="email" id="email" value="">
                <label for="username">Username</label>
                <input type="text" id="username" value="">
                <label for="security-questions-1">Security Questions</label>
                <select id="security-questions-1">
                    <option value="0">Select a Question</option>
                    <option value="1">What is your favorite color?</option>
                    <option value="2">Name of your best friend?</option>
                    <option value="3">In which city were you born?</option>
                    <option value="4">Name of your first pet?</option>
                    <option value="5">What is your favorite team?</option>
                </select>
                <input type="text" id="security-answer-1" value="" placeholder="Answer">
                <label for="security-questions-2"></label>
                <select id="security-questions-2">
                    <option value="0">Select a Question</option>
                    <option value="1">What is your favorite color?</option>
                    <option value="2">Name of your best friend?</option>
                    <option value="3">In which city were you born?</option>
                    <option value="4">Name of your first pet?</option>
                    <option value="5">What is your favorite team?</option>
                </select>
                <input type="text" id="security-answer-2" value="" placeholder="Answer">
                <label for="security-questions-3"></label>
                <select id="security-questions-3">
                    <option value="0">Select a Question</option>
                    <option value="1">What is your favorite color?</option>
                    <option value="2">Name of your best friend?</option>
                    <option value="3">In which city were you born?</option>
                    <option value="4">Name of your first pet?</option>
                    <option value="5">What is your favorite team?</option>
                </select>
                <input type="text" id="security-answer-3" value="" placeholder="Answer">
            </div>
            <div data-role="controlgroup" data-type="horizontal" style="text-align: center">
                <a href="#login-user" data-role="button" data-icon="delete" data-theme="a"
                   data-transition="fade">Cancel</a>
                <a href="#login-user" data-role="button" data-icon="check" data-theme="a"
                   data-transition="fade">Submit</a>
            </div>
        </form>
    </div>

    <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
