<div data-role="page" data-theme="b" id="home-admin">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Admin Panel</h1>
    </div>

    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#" data-role="button" id="user-accounts" class="user-accounts" data-transition="fade">
                    <p class="index-text-size">User Accounts</p>
                </a>
            </div>
            <div class="ui-block-b">
                <a href="#" data-role="button" id="admin-accounts" class="admin-accounts" data-transition="fade">
                    <p class="index-text-size">Admin Accounts</p>
                </a>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#" data-role="button" id="categories" class="categories" data-transition="fade">
                    <p class="index-text-size">Edit Categories</p>
                </a>
            </div>
            <div class="ui-block-b">
                <a href="#" data-role="button" id="reports" class="reports" data-transition="fade">
                    <p class="index-text-size">View Reports</p>
                </a>
            </div>
        </div>
    </div>

    <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

</div>
