<div data-role="page" data-theme="b" id="home-user">

  <!-- Header of the page -->
  <div data-role="header" data-theme="a" data-position="fixed" id="index-header">

    <img src="img/logo.png" class="emarket-logo"/>

    <a href="#shopping-cart" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>
    <search></search>
  </div>

  <div data-role="content" data-theme="b">

    <!-- Carousel of 10 elements -->
    <div id="owl-example" class="owl-carousel">
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[0])">
          <img src="{{carouselProducts[0].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[1])">
          <img src="{{carouselProducts[1].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[2])">
          <img src="{{carouselProducts[2].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[3])">
          <img src="{{carouselProducts[3].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[4])">
          <img src="{{carouselProducts[4].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[5])">
          <img src="{{carouselProducts[5].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[6])">
          <img src="{{carouselProducts[6].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[7])">
          <img src="{{carouselProducts[7].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[8])">
          <img src="{{carouselProducts[8].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
      <div>
        <a href="#item-view" ng-click="setItem(carouselProducts[9])">
          <img src="{{carouselProducts[9].picture}}" style="width: 150px; height: 150px;">
        </a>
      </div>
    </div>

    <!-- Create grids or cells of buttons -->
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#my-emarket-buying" data-role="button" id="my-emarket-buying"
           class="my-emarket-buying"
           data-transition="fade">
          <p class="index-text-size">My eMarket</p>
        </a>
      </div>
      <div class="ui-block-b">
        <a href="#categories" data-role="button" id="categories" class="categories"
           data-transition="fade">
          <p class="index-text-size">Categories</p>
        </a>
      </div>
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#sell-item" data-role="button" id="sell-item" class="sell-item"
           data-transition="fade" ng-click="isDraft(false)">
          <p class="index-text-size">Sell Item</p>
        </a>
      </div>
      <div class="ui-block-b">
        <a href="#recently-viewed" data-role="button" id="recently-viewed" class="recently-viewed"
           data-transition="fade">
          <p class="index-text-size">Recently Viewed</p>
        </a>
      </div>
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#notifications" data-role="button" id="notifications" class="notifications"
           data-transition="fade">
          <p class="index-text-size">Notifications</p>
        </a>
      </div>
      <div class="ui-block-b">
        <a href="#invoices" data-role="button" id="invoices" class="invoices"
           data-transition="fade">
          <p class="index-text-size">Invoices</p>
        </a>
      </div>
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#payment-options" data-role="button" id="payment-options" class="payment-options"
           data-transition="fade">
          <p class="index-text-size">Payment Options</p>
        </a>
      </div>
      <div class="ui-block-b">
        <a href="#profile" data-role="button" id="profile" class="profile" data-transition="fade">
          <p class="index-text-size">Profile</p>
        </a>
      </div>
    </div>

  </div>

  <div data-role="footer" data-theme="a">
    <a href="#index-page" data-role="button" id="login-user" ng-click="logOut()" class="footer-button">Sign Out</a>
  </div>

</div>
