<div data-role="page" data-theme="b" id="home-user">

  <div data-role="header" data-theme="a" data-position="fixed">
    <img src="img/logo.png" class="eMarket-logo">
    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#shopping-cart" class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>
    <search></search>
  </div>

  <div data-role="content" data-theme="b">

    <!-- Carousel of 10 elements -->
    <div data-role="fieldcontain" id="homeUser-carousel" class="owl-carousel">
      <div ng-repeat="carouselProduct in carouselProducts">
        <a href="#item-view" ng-click="setItem(carouselProduct)">
          <img title="{{ carouselProduct.productName }}" ng-src="{{carouselProduct.picture}}"
               style="width: 125px; height: 125px;" class="ui-corner-all">
        </a>
      </div>
    </div>

    <!-- Create grids or cells of buttons -->
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#my-emarket-buying" class="ui-shadow ui-btn ui-btn-b ui-corner-all">
          <p class="big-text wrap-text homeFont">My eMarket</p>
        </a>
      </div>
      <div class="ui-block-b">
        <a href="#categories" class="ui-shadow ui-btn ui-btn-b ui-corner-all">
          <p class="big-text wrap-text homeFont">Categories</p>
        </a>
      </div>
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a ">
        <a href="#sell-item" class="ui-shadow ui-btn ui-btn-b ui-corner-all">
          <p class="big-text wrap-text homeFont">Sell Item</p>
        </a>
      </div>
      <div class="ui-block-b">
        <a href="#recently-viewed" class="ui-shadow ui-btn ui-btn-b ui-corner-all">
          <p class="big-text wrap-text homeFont">Recently Viewed</p>
        </a>
      </div>
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#notifications" class="ui-shadow ui-btn ui-btn-b ui-corner-all">
          <p class="big-text wrap-text homeFont">Notifications</p>
        </a>
      </div>
      <div class="ui-block-b">
        <a href="#invoices" class="ui-shadow ui-btn ui-btn-b ui-corner-all">
          <p class="big-text wrap-text homeFont">Invoices</p>
        </a>
      </div>
    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#payment-options" class="ui-shadow ui-btn ui-btn-b ui-corner-all">
          <p class="big-text wrap-text homeFont">Payment Options</p>
        </a>
      </div>
      <div class="ui-block-b">
        <a href="#profile" class="ui-shadow ui-btn ui-btn-b ui-corner-all">
          <p class="big-text wrap-text homeFont">Profile</p>
        </a>
      </div>
    </div>

  </div>

  <div data-role="footer" data-theme="a">
    <a href="#index-page" data-role="button" ng-click="logOut()" class="footer-button" data-theme="b">Sign Out</a>
  </div>

</div>
