<div data-role="page" data-theme="b" id="invoices">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Invoices</h1>
    <a href="#home-user" data-role="button" data-icon="back" data-direction="reverse">Back</a>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#shopping-cart" class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>
    <search></search>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="b" data-divider-theme="a" data-inset="true" id="invoices-invoiceList">
      <li data-role="list-divider">
        <table>
          <tr>
            <td>Invoices</td>
            <td><span class="ui-li-count">{{invoices.length}}</span></td>
          </tr>
        </table>
      </li>
      <li ng-repeat="invoice in invoices">
        <a href="#invoice-report" data-transition="slide">
          <table class="ui-responsive medium-text wrap-text">
            <tr>
              <th>
                <strong><abbr title="Invoice # {{ $index + 1 }}">Invoice # {{ $index + 1 }}</abbr></strong>
              </th>
            </tr>
            <tr>
              <td><strong>Date:</strong></td>
              <td><em>{{invoice.creationDate | date}}</em></td>
            </tr>
            <tr>
              <td><strong>Order Number:</strong></td>
              <td><em>{{invoice.id}}</em></td>
            </tr>
            <tr>
              <td><strong>Order Price:</strong></td>
              <td><em>{{ invoice.total | currency }}</em></td>
            </tr>
          </table>
        </a>
      </li>
    </ul>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
