<div data-role="page" data-theme="b" id="invoices">
    <div data-role="header" data-theme="a">
        <h1>Invoices</h1>

        <!--go back to the index page data-rel="back" reverse the transition back -->
        <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>

        <form action="#">
            <div data-role="fieldcontain" class="ui-btn-right">
                <a href="" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>
            </div>
        </form>
        <input id="search" name="search" type="search" data-mini="true" placeholder="Search">
    </div>

    <div data-role="content" data-theme="b">

    </div>
</div>
