<div data-role="page" data-theme="b" id="item-view">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Item</h1>

    <!--go back to the index page data-rel="back" reverse the transition back -->
    <a href="#" data-role="button" data-icon="back" data-rel="back" data-direction="reverse">Back</a>

    <a href="#shopping-cart" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>
    <search></search>

  </div>

  <div data-role="content">

    <h3 class="item-title">{{ item.productName }}</h3>
    <!--<a href="" data-role="button" id="save-button" class="save-button"><p>Save</p></a><hr/>-->

    <img ng-src="{{item.picture}}" id="item-photo" class="item-photo"/>

    <a href="#popupPlaceBid" data-role="button" id="place-bid-button" class="place-bid-button" data-rel="popup"
       data-position-to="window" data-transition="pop">
      <p class="item-button-text-size">Place bid US {{ item.currentBid + 5 | currency }}</p>
    </a>
    <a href="#popupQuantity" data-role="button" id="buy-it-now-button" class="buy-it-now-button" data-rel="popup"
       data-position-to="window" data-transition="pop">
      <p class="item-button-text-size">Buy It Now</p>
    </a>
    <hr/>

    <ul data-role="listview" data-theme="c" data-inset="true">
      <li>
        <p class="item-description-text-size"> Starting bid: {{ item.startingBidPrice | currency }}</p>

        <p class="item-description-text-size"> Current bid: {{ item.currentBid | currency }} </p>

        <p class="item-description-text-size"> Buy it Now: {{ item.nonbidPrice | currency }} </p>

        <p class="item-description-text-size"> Shipping: {{ item.shippingPrice | currency }} </p>

        <p class="item-description-text-size"> Available Quantity: {{ item.quantity }} </p>
      </li>
      <li>
        <p class="item-description-text-size">
          <!--Time Left: {{ remainingTime | date:'h:mm' }} </p>-->

        <p class="item-description-text-size"> End Date: {{ item.bidEndDate | date:'yyyy-MM-dd HH:mm:ss' }} </p>
        <!--<p class="item-description-text-size"> Location: {{ item.location }} </p>-->
        <!--<p class="item-description-text-size"> Ships to: {{ item.shipsTo }} </p>-->
      </li>
      <li>
        <p class="item-description-text-size"> Condition: {{ item.condition }} </p>
      </li>
      <li>
        <p class="item-description-text-size">
          Description
        <table>
          <tr>
            <td>
              Brand:
            </td>
            <td>
              {{item.brand}}
            </td>
          </tr>
          <tr>
            <td>
              Model:
            </td>
            <td>
              {{ item.model}}
            </td>
          </tr>
          <tr>
            <td>
              Dimensions:
            </td>
            <td>
              {{item.dimensions}}
            </td>
          </tr>
          <tr>
            <td>
              Additional Description:
            </td>
            <td>
              {{item.description}}
            </td>
          </tr>

        </table>
        </p>
      </li>
      <li>
        <p class="item-description-text-size"> Seller: {{ item.sellerName }} </p>
      </li>
    </ul>
  </div>

  <div data-role="popup" id="popupQuantity" data-theme="a" class="ui-corner-all">
    <form>
      <div style="padding:10px 20px;">
        <h3>Enter Quantity</h3>
        <input type="number" id="quantity" placeholder="1" ng-model="item.quantity">
        <a href="#popupItemAddedToCart" data-role="button" data-rel="popup"
           data-position-to="window" data-transition="pop" ng-click="addToCart()">Add to Cart</a>
        <a href="#item-view" data-role="button">Cancel</a>
      </div>
    </form>
  </div>

  <div data-role="popup" id="popupPlaceBid" data-theme="a" class="ui-corner-all">
    <form data-ajax="false" ng-submit="submitBid()">
      <div style="padding:10px 20px;">
        <h3>Enter Bid</h3>
        <a data-role="button" ng-click="placeMinBid()">Add Min Bid:
          {{item.productCurrentBidPrice + 5 | currency}}</a>

        <div data-role="fieldcontain">
          <label for="placeBid">Place Bid</label>
          <input type="number" id="placeBid" ng-model="bid.bidAmount">
        </div>

        <button type="submit" data-icon="false" data-theme="b">Bid</button>
        <!--<a href="#index-page" data-role="button">Bid</a>-->
        <a href="#item-view" data-role="button">Cancel</a>
      </div>
    </form>
  </div>

  <div data-role="popup" id="popupItemAddedToCart" data-theme="a" class="ui-corner-all">
    <div style="padding:10px 20px;">
      <p>Product have been placed in cart</p>
    </div>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
