<div data-role="page" data-theme="b" id="item-view">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Item</h1>

        <!--go back to the index page data-rel="back" reverse the transition back -->
        <a href="#index-page" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>

        <form action="#">
            <div data-role="fieldcontain" class="ui-btn-right">
                <a href="" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>
            </div>
        </form>
        <input id="search" name="search" type="search" data-mini="true" placeholder="Search">
    </div>

    <div data-role="content" data-theme="b">

        <h3 class="item-title">Samsung Serie 9 TouchScreen Ultrabook i7 8GB Ram 128SSD 15.6"</h3>
        <a href="" data-role="button" id="save-button" class="save-button"><p>Save</p></a><hr/>

        <img src="img/shopping-cart.png" id="item-photo" class="item-photo"/>

        <a href="" data-role="button" id="place-bid-button" class="place-bid-button"><p class="item-button-text-size">Place bid US $562.25</p></a>
        <a href="" data-role="button" id="buy-it-now-button" class="buy-it-now-button"><p class="item-button-text-size">Buy it now</p></a>
        <hr/>

        <ul data-role="listview" data-theme="c" data-inset="true">
            <li>
                <p class="item-description-text-size"> Starting bid: $899.99 </p>
                <p class="item-description-text-size"> Current bid: $950.99 </p>
                <p class="item-description-text-size"> Buy it Now: $1099.00 </p>
                <p class="item-description-text-size"> Shipping: Free </p>
            </li>
            <li>
                <p class="item-description-text-size"> Time Left: 1h 21m </p>
                <p class="item-description-text-size"> End Date: Sep 8, 2013 4:31PM </p>
                <p class="item-description-text-size"> Location: California, USA </p>
                <p class="item-description-text-size"> Ships to: USA, Canada </p>
            </li>
            <li>
                <p class="item-description-text-size"> Condition: Used </p>
            </li>
            <li>
                <p class="item-description-text-size"> Description </p>
            </li>
            <li>
                <p class="item-description-text-size"> Seller: Chencho    ***** </p>
            </li>
        </ul>
    </div>

    <div data-role="footer" data-theme="a"><h1></h1></div>

    <link rel="stylesheet" href="css/itemView.css"/>
</div>
