<div data-role="page" data-theme="b" id="login-admin">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Administrator</h1>
    </div>

    <div data-role="content">
        <form action="#">
            <div style="padding:10px 20px;">
                <h3>Administrator, Please Sign In</h3>
                <label for="username" class="ui-hidden-accessible">Username:</label>
                <input name="user" id="username" value="" placeholder="username" data-theme="a" type="text">
                <label for="password" class="ui-hidden-accessible">Password:</label>
                <input name="pass" id="password" value="" placeholder="password" autocomplete="off" data-theme="a"
                       type="password">
                <a href="#index-page" data-role="button" data-icon="check" data-direction="reverse">Submit</a>
                <!--<button type="submit" data-theme="b" data-icon="check">Sign in</button>-->
            </div>
        </form>
    </div>

    <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

</div>
