<div data-role="page" data-theme="b" id="login-user">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Login</h1>

        <a href="#shopping-cart" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>

        <input id="search" name="search" type="search" data-mini="true" placeholder="Search">
    </div>

    <div data-role="content" data-theme="b">
        <form action="#">
            <div style="padding:10px 20px;">
                <h3>Welcome, Please Sign In</h3>
                <label for="username" class="ui-hidden-accessible">Username:</label>
                <input name="user" id="username" value="" placeholder="username" data-theme="a" type="text">
                <label for="password" class="ui-hidden-accessible">Password:</label>
                <input name="pass" id="password" value="" placeholder="password" autocomplete="off" data-theme="a"
                       type="password">
                <a href="#index-page" data-role="button" data-icon="check" data-transition="fade">Sign in</a>
                <!--<button type="submit" data-theme="b" data-icon="check">Sign in</button>-->
                <a href="#register" data-role="button" data-transition="slide">Register</a>
            </div>
        </form>

        <a href="" style="color: #000000; position: absolute; bottom: 10px; left:30%">Forgot password?</a>

    </div>

    <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
