
<div data-role="page" data-theme="b" id="my-emarket-buying">
    <div data-role="header" class="header" data-position="fixed" data-theme="a">

        <h1>My eMarket</h1>

        <!--go back to the index page data-rel="back" reverse the transition back -->
        <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>


        <a href="#shopping-cart" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>
        <input id="search" name="search" type="search" data-mini="true" placeholder="Search"/>

        <div data-role="navbar">
            <ul>
                <li><a href="#my-emarket-buying" class="ui-btn-active ui-state-persist">Buying</a></li>
                <li><a href="#my-emarket-selling">Selling</a></li>
                <li><a href="#my-emarket-drafts">Drafts</a> </li>
            </ul>
        </div>
    </div>

    <div data-role="content">

        <ul data-role="listview" data-dividertheme="b" data-theme="c" data-inset="true">
            <li data-role="list-divider">Bidding</li>
            <li>
                <a href="#item-view" class="wrap-text">
                    <img src="img/shopping-cart.png" class="item-image">Samsung Serie 9 TouchScreen Ultrabook i7 8GB Ram 128SSD 15.6"
                </a>
            </li>

            <li data-role="list-divider">Purchase History</li>
            <li ng-repeat="purchase in purchases">
                <a href="#item-view" class="wrap-text" ng-click="setItem(purchase)">
                    <img src="img/shopping-cart.png" class="item-image">{{purchase.productName}}
                </a>
            </li>
        </ul>
    </div>

    <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

</div>




