<div data-role="page" data-theme="b" id="my-emarket-selling">

  <div data-role="header" class="header" data-position="fixed" data-theme="a">
    <h1>My eMarket</h1>
    <a href="#home-user" data-role="button" data-icon="back" data-direction="reverse">Back</a>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#shopping-cart" class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>
    <search></search>
    <div data-role="navbar">
      <ul>
        <li><a href="#my-emarket-buying">Buying</a></li>
        <li><a href="#my-emarket-selling" class="ui-btn-active ui-state-persist">Selling</a></li>
        <li><a href="#my-emarket-drafts">Drafts</a></li>
      </ul>
    </div>
  </div>

  <div data-role="content">

    <ul data-role="listview" data-theme="b" data-divider-theme="a" data-inset="true" id="myEmSelling-soldAndUnsoldList">
      <li data-role="list-divider">Sold<span class="ui-li-count">{{soldProducts.length}}</span></li>
      <li ng-repeat="soldProduct in soldProducts">
        <a href="#item-view" ng-click="setItem(soldProduct)" data-transition="slide">
          <table class="ui-responsive medium-text wrap-text">
            <tr>
              <th rowspan="4">
                <img ng-src="{{soldProduct.picture}}" class="item-photo-small ui-corner-all"
                     src="" alt="Product_Picture">
              </th>
              <th rowspan="4" class="pad"></th>
              <th colspan="3">
                <strong><abbr title="{{soldProduct.productName}}">
                  {{soldProduct.productName | truncate:15}}</abbr></strong>
              </th>
            </tr>
            <tr>
              <td><strong>Sold Quantity</strong></td>
              <td class="pad"></td>
              <td><em>{{soldProduct.soldQuantity}}</em></td>
            </tr>
            <tr>
              <td><strong>Sold Price</strong></td>
              <td class="pad"></td>
              <td><em>{{soldProduct.soldPrice | currency}}</em></td>
            </tr>
            <tr>
              <td><strong>Buyer Name</strong></td>
              <td class="pad"></td>
              <td><em>{{ soldProduct.buyerName }}</em></td>
            </tr>
          </table>
        </a>
      </li>
      <li data-role="list-divider">Unsold<span class="ui-li-count">{{unsoldProducts.length}}</span></li>
      <li ng-repeat="unsoldProduct in unsoldProducts">
        <a href="#item-view" ng-click="setItem(unsoldProduct)" data-transition="slide">
          <table class="ui-responsive medium-text wrap-text">
            <tr>
              <th rowspan="3">
                <img ng-src="{{unsoldProduct.picture}}" class="item-photo-small ui-corner-all"
                     src="" alt="Product_Picture">
              </th>
              <th rowspan="3" class="pad"></th>
              <th colspan="3">
                <strong><abbr title="{{ unsoldProduct.productName }}">
                  {{ unsoldProduct.productName | truncate:15 }}</abbr></strong>
              </th>
            </tr>
            <tr>
              <td><strong>Quantity Remaining</strong></td>
              <td class="pad"></td>
              <td><em>{{ unsoldProduct.quantityRemaining }}</em></td>
            </tr>
            <tr>
              <td><strong>Posted Date</strong></td>
              <td class="pad"></td>
              <td><em>{{ unsoldProduct.creationDate | date:'medium' }}</em></td>
            </tr>
          </table>
        </a>
      </li>
    </ul>

  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
