<div data-role="page" data-theme="b" id="my-emarket-buying">

  <div data-role="header" class="header" data-position="fixed" data-theme="a">
    <h1>My eMarket</h1>
    <a href="#home-user" data-role="button" data-icon="back" data-direction="reverse">Back</a>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#shopping-cart" class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>
    <search></search>
    <div data-role="navbar">
      <ul>
        <li><a href="#my-emarket-buying" class="ui-btn-active ui-state-persist">Buying</a></li>
        <li><a href="#my-emarket-selling">Selling</a></li>
        <li><a href="#my-emarket-drafts">Drafts</a></li>
      </ul>
    </div>
  </div>

  <div data-role="content">

    <ul data-role="listview" data-theme="b" data-divider-theme="a" data-inset="true" id="myEmBuying-bidAndPurchaseList">
      <li data-role="list-divider">Bidding<span class="ui-li-count">{{bids.length}}</span></li>
      <li ng-repeat="bid in bids">
        <a href="#item-view" ng-click="setItemBid(bid)" data-transition="slide">
          <table class="ui-responsive medium-text wrap-text">
            <tr>
              <th rowspan="4">
                <img ng-src="{{bid.picture}}" class="item-photo-small ui-corner-all" src="" alt="Product_Picture">
              </th>
              <th rowspan="4" class="pad"></th>
              <th colspan="3">
                <strong><abbr title="{{bid.productName}}">
                  {{bid.productName | truncate:15}}</abbr></strong>
              </th>
            </tr>
            <tr>
              <td><strong>Your Bid</strong></td>
              <td class="pad"></td>
              <td><em>{{bid.highestBid | currency}}</em></td>
            </tr>
            <tr>
              <td><strong>Current Bid</strong></td>
              <td class="pad"></td>
              <td><em>{{bid.currentBid | currency}}</em></td>
            </tr>
            <tr>
              <td><strong>Bid Time</strong></td>
              <td class="pad"></td>
              <td><em>{{bid.creationDate | date:'medium'}}</em></td>
            </tr>
          </table>
        </a>
      </li>
      <li data-role="list-divider">Purchase History<span class="ui-li-count">{{purchases.length}}</span></li>
      <li ng-repeat="purchase in purchases">
        <a href="#item-view" ng-click="setItemPurchase(purchase)" data-transition="slide">
          <table class="ui-responsive medium-text wrap-text">
            <tr>
              <th rowspan="3">
                <img ng-src="{{purchase.picture}}" class="item-photo-small ui-corner-all"
                     src="" alt="Product_Picture">
              </th>
              <th rowspan="3" class="pad"></th>
              <th colspan="3">
                <strong><abbr title="{{purchase.productName}}">{{purchase.productName | truncate:15}}</abbr></strong>
              </th>
            </tr>
            <tr>
              <td><strong>Seller Name</strong></td>
              <td class="pad"></td>
              <td><em>{{ purchase.sellerName }}</em></td>
            </tr>
            <tr>
              <td><strong>Purchase Date</strong></td>
              <td class="pad"></td>
              <td><em>{{ purchase.purchaseDate | date:'medium' }}</em></td>
            </tr>
          </table>
        </a>
      </li>
    </ul>

  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>




