<div data-role="page" data-theme="b" id="notifications">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Notifications</h1>

    <a href="#home-user" data-role="button" data-icon="back" data-direction="reverse">Back</a>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#shopping-cart" class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>

    <search></search>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="b" data-divider-theme="a" data-inset="true" id="notificationList">
      <li data-role="list-divider">
        <table>
          <tr>
            <td>Notifications</td>
            <td><span class="ui-li-count">{{notifications.length}}</span></td>
          </tr>
        </table>
      </li>
      <li data-icon="false" ng-repeat="notification in notifications">
        <a href="#popupInfo" data-rel="popup" data-inline="true" data-transition="pop"
           ng-click="readMessage(notification)">
          <img ng-src="img/envelope.png" class="center-image">
          {{ getStatus(notification) }}<br>{{notification.message }}
        </a>
      </li>
    </ul>
  </div>

  <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

  <div data-role="popup" id="popupInfo" class="ui-content" data-theme="a" style="max-width: 320px">
    <a href="#notifications" data-rel="external" data-role="button" data-theme="b" data-icon="delete"
       data-iconpos="notext" class="ui-btn-right">Close</a>

    <p id="notificationMessage"></p>
  </div>

</div>
