<div data-role="page" data-theme="b" id="notifications">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Notifications</h1>

        <!--go back to the index page data-rel="back" reverse the transition back -->
        <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>


    </div>

    <div data-role="content" data-theme="b">
        <ul data-role="listview" data-theme="c" data-inset="true">
            <li>
                <a href="#popupInfo" data-rel="popup" data-inline="true" data-transition="pop">
                    <img src="img/envelope.png">Unread <br> Preview Message</a>
            </li>
            <li>
                <a href="#popupInfo" data-rel="popup" data-inline="true" data-transition="pop">
                    <img src="img/envelope.png">Unread <br> sdashds</a>
            </li>
            <li><a href=""><img src="img/envelope.png">Unread <br> sdashds</a></li>
            <li><a href=""><img src="img/envelope.png">Read <br> sdashds</a></li>
            <li><a href=""><img src="img/envelope.png">Read <br> sdashds</a></li>
        </ul>
    </div>

    <div data-role="footer" data-theme="a"><h1></h1></div>

    <div data-role="popup" id="popupInfo" class="ui-content" data-theme="e" style="max-width: 320px">
        <a href="#notifications" data-rel="external" data-role="button" data-theme="a" data-icon="delete"
           data-iconpos="notext" class="ui-btn-right">Close</a>
        <p>You won the new AlienWare Fusion. Congrats!</p>
    </div>
</div>
