<div data-role="page" data-theme="b" id="payment-options">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Payment Options</h1>
    <a href="#home-user" data-role="button" data-icon="back" data-direction="reverse">Back</a>
    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#shopping-cart" class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>
    <search></search>
  </div>

  <div data-role="content">

    <div data-role="collapsible-set" data-theme="a">

      <div data-role="collapsible" data-collapsed="false">
        <h2>Edit Credit Cards</h2>
        <ul data-role="listview" data-theme="a" data-divider-theme="b" id="paymentOptions-cardList" data-inset="true">
          <li data-role="list-divider">
            <table class="wrap-text">
              <tr>
                <td>Credit Cards on System</td>
                <td class="pad"></td>
                <td><a href="#add-card" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all">Add Credit Card</a>
                </td>
                <td><span class="ui-li-count">{{creditCards.length}}</span></td>
              </tr>
            </table>
          </li>
          <li ng-repeat="creditCard in creditCards">
            <a href="">
              <table class="small-text wrap-text">
                <tr>
                  <td><strong>Name:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{creditCard.ownerName}}</em></td>
                </tr>
                <tr>
                  <td><strong>Issuing Network:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{creditCard.cardType}}</em></td>
                </tr>
                <tr>
                  <td><strong>Card Number:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{creditCard.cardNumber}}</em></td>
                </tr>
                <tr>
                  <td><strong>Card Exp. Date:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{creditCard.expirationDate | date:'yyyy-MM'}}</em></td>
                </tr>
                <tr>
                  <td><strong>Card CSV:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{creditCard.cardCsv}}</em></td>
                </tr>
              </table>
            </a>
            <a href="#paymentOptions-cardOptionsPopup" data-rel="popup" data-inline="true" data-transition="slideup"
               data-position-to="window" data-icon="gear" data-theme="a"
               ng-click="setCardInfo(creditCard); selectCard(creditCard, $index)"></a>
          </li>
        </ul>
      </div>

      <div data-role="collapsible">
        <h2>Edit Bank Accounts</h2>
        <ul data-role="listview" data-theme="a" data-divider-theme="b" id="paymentOptions-bankList" data-inset="true">
          <li data-role="list-divider">
            <table class="wrap-text">
              <tr>
                <td>Bank Accounts on System</td>
                <td class="pad"></td>
                <td><a href="#add-bank" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all">Add Bank
                                                                                                     Account</a></td>
                <td><span class="ui-li-count">{{bankAccounts.length}}</span></td>
              </tr>
            </table>
          </li>
          <li ng-repeat="bankAccount in bankAccounts">
            <a href="">
              <table class="small-text wrap-text">
                <tr>
                  <td><strong>Bank Name:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{bankAccount.bankName}}</em></td>
                </tr>
                <tr>
                  <td><strong>Bank Account Type:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{bankAccount.accountType}}</em></td>
                </tr>
                <tr>
                  <td><strong>Bank Account Number:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{bankAccount.accountNumber}}</em></td>
                </tr>
                <tr>
                  <td><strong>Bank Account Routing:</strong></td>
                  <td class="pad"></td>
                  <td><em>{{bankAccount.routingNumber}}</em></td>
                </tr>
              </table>
            </a>
            <a href="#paymentOptions-bankOptionsPopup" data-rel="popup" data-inline="true" data-transition="slideup"
               data-position-to="window" data-icon="gear" data-theme="a"
               ng-click="setBankInfo(bankAccount); selectBank(bankAccount, $index)"></a>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <div data-role="popup" id="paymentOptions-cardOptionsPopup" data-theme="b">
    <div class="form-pad">
      <h3>Choose An Action</h3>
      <a href="#edit-card" class="ui-btn ui-btn-a ui-icon-edit ui-btn-icon-right ui-btn-corner-all">Edit</a>
      <a href="#payment-options" id="paymentOptions-deleteCardBtn"
         class="ui-btn ui-btn-a ui-icon-delete ui-btn-icon-right ui-btn-corner-all"
         ng-click="deleteCreditCard()">Delete</a>
      <a href="#payment-options" class="ui-btn ui-btn-a ui-icon-back ui-btn-icon-right ui-btn-corner-all">Cancel</a>
    </div>
  </div>

  <div data-role="popup" id="paymentOptions-bankOptionsPopup" data-theme="b">
    <div class="form-pad">
      <h3>Choose An Action</h3>
      <a href="#edit-bank" class="ui-btn ui-btn-a ui-icon-edit ui-btn-icon-right ui-btn-corner-all">Edit</a>
      <a href="#payment-options" id="paymentOptions-deleteBankBtn"
         class="ui-btn ui-btn-a ui-icon-delete ui-btn-icon-right ui-btn-corner-all"
         ng-click="deleteBankAccount()">Delete</a>
      <a href="#payment-options" class="ui-btn ui-btn-a ui-icon-back ui-btn-icon-right ui-btn-corner-all">Cancel</a>
    </div>
  </div>

  <div data-role="popup" id="paymentOption-statusPopup" data-theme="a" class="ui-corner-all ui-content">
    <a href="#payment-options" data-rel="external" data-role="button" data-theme="b" data-icon="delete"
       data-iconpos="notext" class="ui-btn-right">Close</a>
    <p id="paymentOption-statusPopupMessage" style="text-align: center"></p>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
