<div data-role="page" data-theme="b" id="checkout">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Checkout</h1>

    <!--go back to the index page data-rel="back" reverse the transition back -->
    <a href="#" data-role="button" data-icon="back" data-rel="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">
    <form>
      <div data-role="fieldcontain">
        <label for="select-payment-method"><strong> Select Payment Method </strong></label>
        <select name="select-payment-method" id="select-payment-method" ng-model="paymentMethod"
                ng-options="paymentMethod for paymentMethod in paymentMethods"
                ng-change="selectPaymentMethod()">
        </select>
      </div>

      <div data-role="fieldcontain" ng-hide="isCreditCard">
        <label for="select-bank"><strong> Select Bank </strong></label>
        <select name="select-bank" id="select-bank" ng-model="selectedBank"
                ng-options="bank.bankName for bank in banks">
          <option value="" ng-hide="selectedBank">Please Select a Bank</option>
        </select>
      </div>
      <div data-role="fieldcontain" ng-show="isCreditCard">
        <label for="select-card"><strong> Select Card </strong></label>
        <select name="select-card" id="select-card" ng-model="selectedCard"
                ng-options="card.cardNumber for card in cards">
          <option value="" ng-hide="selectedCard">Please Select a Card</option>
        </select>
      </div>
    </form>

    <div>
      <table align="right">
        <tr>
          <td align="left">
            Total Items({{itemsAmount}}):
          </td>
          <td align="right">
            {{cost | currency}}
          </td>
          <td align="left">
        </tr>
        <tr>
          <td>
            Shipping:
          </td>
          <td align="right" class="line">
            {{shipping | currency}}
          </td>
        </tr>
        <tr>
          <td align="left">
            Amount to pay:
          </td>
          <td align="right">
            {{cost + shipping | currency}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div data-role="footer" data-theme="a">
    <button type="submit" data-icon="check" data-theme="a"
            class="footer-button ui-btn ui-btn-b ui-icon-check ui-btn-icon-right ui-btn-corner-all">Checkout
    </button>
  </div>
</div>
