<div data-role="page" data-theme="b" id="proceed-to-checkout">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Checkout</h1>
    <a href="#" data-role="button" data-icon="back" data-rel="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">

    <form name="checkoutForm">
      <div class="form-pad">
        <label for="checkout-paymentMethod"><strong>Select Payment Method</strong></label>
        <select name="checkoutPaymentMethod" id="checkout-paymentMethod" data-theme="a"
                ng-model="checkout.paymentMethod" ng-change="selectPaymentMethod()" ng-required="false">
          <option value="Bank">Bank</option>
          <option value="Credit Card">Credit Card</option>
        </select>
      </div>
      <div class="form-pad" ng-show="!isCreditCard">
        <label for="checkout-bankSelect"><strong>Select Bank</strong></label>
        <select name="checkoutBankSelect" id="checkout-bankSelect" ng-model="checkout.selectedBank"
                ng-options="bank.id as bank.bankName for bank in banks" data-theme="a">
          <option value="" ng-hide="checkout.selectedBank" ng-required="!isCreditCard">Please Select a Bank</option>
        </select>
      </div>
      <div class="form-pad" ng-show="isCreditCard">
        <label for="checkout-cardSelect"><strong>Select Card</strong></label>
        <select name="checkoutCardSelect" id="checkout-cardSelect" ng-model="checkout.selectedCard"
                ng-options="card.id as card.cardNumber for card in cards" data-theme="a">
          <option value="" ng-hide="checkout.selectedCard" ng-required="isCreditCard">Please Select a Card</option>
        </select>
      </div>
      <div class="form-pad">
        <label for="checkout-addressSelect"><strong>Select Card</strong></label>
        <select name="checkoutAddressSelect" id="checkout-addressSelect" ng-model="checkout.selectedAddress"
                ng-options="mail.id as mail.address for mail in mailAddresses" data-theme="a">
          <option value="" ng-hide="checkout.selectedAddress" ng-required="true">Please Select an Address</option>
        </select>
      </div>
    </form>

    <div data-role="none">
      <table align="right">
        <tr>
          <td align="left">
            Total Items({{itemsAmount}}):
          </td>
          <td align="right">
            {{cost | currency}}
          </td>
          <td align="left">
        </tr>
        <tr>
          <td>
            Shipping:
          </td>
          <td align="right" class="bottom-line">
            {{shipping | currency}}
          </td>
        </tr>
        <tr>
          <td align="left">
            Amount to pay:
          </td>
          <td align="right">
            {{cost + shipping | currency}}
          </td>
        </tr>
      </table>
    </div>

    <pre>{{ checkout | json }}</pre>

  </div>

  <div data-role="footer" data-theme="a" class="ui-footer">
    <a href="#" data-role="button" class="footer-button" data-icon="check" data-theme="b"
       ng-click="submit()"
       ng-class="{false: 'ui-disabled'}[checkoutForm.$valid]">Submit Payment</a>
  </div>

</div>
