<div data-role="page" data-theme="b" id="product-bids">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Product Bids</h1>
    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#home-user" id="home-user" class="ui-btn ui-shadow ui-icon-home ui-btn-icon-notext ui-mini">Home</a>
      <a href="#shopping-cart" id="shopping-cart" class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>
    <search></search>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="b" data-divider-theme="a" data-inset="true" id="productBidsList">
      <li data-role="list-divider">
        <table>
          <tr>
            <td>Product Bids</td>
            <td><span class="ui-li-count">{{productBids.length}}</span></td>
          </tr>
        </table>
      </li>
      <li ng-repeat="productBid in productBids">
        <table>
          <tr>
            <td><strong>Bidder:</strong></td>
            <td class="pad"></td>
            <td><em>{{ productBid.seller }}</em></td>
          </tr>
          <tr>
            <td><strong>Bid Amount:</strong></td>
            <td class="pad"></td>
            <td><em>{{ productBid.bidAmount }}</em></td>
          </tr>
        </table>
      </li>
    </ul>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
