<div data-role="page" data-theme="b" id="recently-viewed">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Recently Viewed</h1>

    <!--go back to the index page data-rel="back" reverse the transition back -->
    <a href="#home-user" data-role="button" data-icon="back" data-direction="reverse">Back</a>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#shopping-cart" id="shopping-cart"
         class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>

    <search></search>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-divider-theme="a" data-theme="b" data-inset="true" id="recentlyViewedList">
      <!--<ul data-role="listview" data-theme="c" data-inset="true" id="recentlyViewedList">-->
      <!--jqm1.3.2-->
      <li data-role="list-divider">Last 10 Items</li>
      <li ng-repeat="item in recentlyViewed">
        <a href="#item-view" class="wrap-text" ng-click="setItem(item)" data-transition="slide">
          <img ng-src="{{item.picture}}" class="center-image ui-corner-all" width="75px" height="75px">
          <table data-role="table" data-mode="none" class="ui-responsive wrap-text">
            <thead>
            <tr>
              <th colspan="2">
                <!--<th colspan="2" style="text-align: center">-->
                <strong><abbr title="{{item.productName}}">{{item.productName |
                  truncate:15}}</abbr></strong>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><strong>Current Bid</strong></td>
              <td><em>{{item.currentBid | currency}}</em></td>
            </tr>
            <tr>
              <td><strong>Price</strong></td>
              <td><em>{{item.nonbidPrice | currency}}</em></td>
            </tr>
            </tbody>
          </table>
        </a>
      </li>
    </ul>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
