<div data-role="page" data-theme="b" id="recently-viewed-items">
    <div data-role="header" data-theme="a" data-position="fixed">
        <h1>Recently Viewed</h1>

        <!--go back to the index page data-rel="back" reverse the transition back -->
        <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>

        <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
            <a href="" id="shopping-cart" data-role="button">Cart</a>
            <a href="" data-role="button" data-icon="search" data-iconpos="notext">Search</a>
        </div>
    </div>

    <div data-role="content" data-theme="b">
        <ul data-role="listview" data-theme="c" data-inset="true">
            <li><a href="#item-view"><img src="img/shopping-cart.png">Object sdfsd <br> sfsdf</a></li>
            <li><a href=""><img src="img/shopping-cart.png">Object sdfsd <br> sdashds</a></li>
            <li><a href=""><img src="img/shopping-cart.png">Object sdfsd <br> sdashds</a></li>
            <li><a href=""><img src="img/shopping-cart.png">Object sdfsd <br> sdashds</a></li>
            <li><a href=""><img src="img/shopping-cart.png">Object sdfsd <br> sdashds</a></li>
        </ul>

    </div>
</div>
