<div data-role="page" data-theme="b" id="register">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Register</h1>
    <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">

    <form data-ajax="false" ng-submit="submit()">

      <div data-role="collapsible-set" data-theme="a" data-content-theme="false">

        <div data-role="collapsible" data-collapsed="false">
          <h3>Personal Information</h3>

          <div class="form-pad">
            <label for="register-firstName">First Name</label>
            <input type="text" id="register-firstName" ng-model="newUser.user.userFirstName" ng-required="true">
            <label for="register-middleName">Middle Name</label>
            <input type="text" id="register-middleName" ng-model="newUser.user.userMiddleName" ng-required="false">
            <label for="register-lastName">Last Name</label>
            <input type="text" id="register-lastName" ng-model="newUser.user.userLastName" ng-required="true">
            <hr/>
            <label for="register-mailing"><strong>Mailing Address</strong></label>
            <input type="hidden" id="register-mailing">
            <hr/>
            <label for="register-mailingAddress">Address</label>
            <input type="text" id="register-mailingAddress" ng-model="newUser.mailAddress.mailAddress"
                   ng-required="true">
            <label for="register-mailingCountry">Country</label>
            <input type="text" id="register-mailingCountry" ng-model="newUser.mailAddress.country" ng-required="true">
            <label for="register-mailingGeographicalRegion">State/Providence/Region</label>
            <input type="text" id="register-mailingGeographicalRegion"
                   ng-model="newUser.mailAddress.geographicalRegion" ng-required="false">
            <label for="register-mailingCity">City</label>
            <input type="text" id="register-mailingCity" ng-model="newUser.mailAddress.city" ng-required="true">
            <label for="register-mailingZipCode">Zip Code</label>
            <input type="tel" id="register-mailingZipCode" ng-model="newUser.mailAddress.zipCode"
                   ng-required="true">
            <hr/>
            <label for="register-billing"><strong>Billing Address</strong></label>
            <input type="hidden" id="register-billing">
            <hr/>
            <label for="register-sameAsMailing">Same as Mailing Address</label>
            <input type="checkbox" id="register-sameAsMailing"
                   name="register-sameAsMailing" ng-click="disableBillAddress()" ng-required="false">
            <label for="register-billingAddress">Address</label>
            <input type="text" id="register-billingAddress" ng-model="newUser.billAddress.billAddress"
                   ng-required="true">
            <label for="register-billingCountry">Country</label>
            <input type="text" id="register-billingCountry" ng-model="newUser.billAddress.country" ng-required="true">
            <label for="register-billingGeographicalRegion">State/Providence/Region</label>
            <input type="text" id="register-billingGeographicalRegion"
                   ng-model="newUser.billAddress.geographicalRegion" ng-required="false">
            <label for="register-billingCity">City</label>
            <input type="text" id="register-billingCity" ng-model="newUser.billAddress.city" ng-required="true">
            <label for="register-billingZipCode">Zip Code</label>
            <input type="tel" id="register-billingZipCode" ng-model="newUser.billAddress.zipCode"
                   ng-required="true">
            <label for="register-telephone">Telephone</label>
            <input type="tel" id="register-telephone" ng-model="newUser.user.telephone" ng-required="true">
          </div>
        </div>

        <div data-role="collapsible">
          <h3>Credit Card Information</h3>

          <div class="form-pad">
            <label for="register-cardName">Name as Appear in Card</label>
            <input type="text" id="register-cardName" ng-model="newUser.creditCard.creditCardName" ng-required="true">
            <label for="register-cardType">Card Type</label>
            <select id="register-cardType" ng-model="newUser.creditCard.creditCardType" ng-required="true">
              <option value="Visa" selected>Visa</option>
              <option value="Master Card">Master Card</option>
              <option value="American Express">American Express</option>
              <option value="Other">Other</option>
            </select>
            <label for="register-cardNumber">Card Number</label>
            <input type="number" id="register-cardNumber" ng-model="newUser.creditCard.creditCardNumber"
                   ng-required="true">
            <label for="register-cardExpirationDate">Expiration Date</label>
            <input type="month" id="register-cardExpirationDate" ng-model="newUser.creditCard.creditCardExpDate"
                   ng-required="true">
            <label for="register-cardSecurityCode">Card Security Code</label>
            <input type="number" id="register-cardSecurityCode" ng-model="newUser.creditCard.creditCardCvs"
                   ng-required="true">
          </div>
        </div>

        <div data-role="collapsible">
          <h3>Login Information</h3>

          <div class="form-pad">
            <label for="register-email">Email</label>
            <input type="email" id="register-email" ng-model="newUser.user.userEmail" ng-required="true">
            <label for="register-username">Username</label>
            <input type="text" id="register-username" ng-model="newUser.user.username" ng-required="true">
            <label for="register-password">Password</label>
            <input type="password" id="register-password" autocomplete="off" ng-model="newUser.user.userPassword"
                   ng-required="true">
            <label for="register-passwordConfirm">Confirm Password</label>
            <input type="password" id="register-passwordConfirm" autocomplete="off"
                   ng-model="newUser.validateUser.userConfirmPassword" ng-required="true">
            <label for="register-securityQuestions">Security Questions</label>
            <input type="hidden" id="register-securityQuestions">
            <label for="register-securityQuestion-1"></label>
            <select id="register-securityQuestion-1" ng-model="question1"
                    ng-options="question.id as question.question for question in questions" ng-required="true">
              <option value="" ng-hide="question1">Select a question</option>
            </select>
            <label for="register-securityAnswer-1"></label>
            <input type="text" id="register-securityAnswer-1" placeholder="Answer"
                   ng-model="newUser.user.questions.answer1" ng-required="true">
            <label for="register-securityQuestion-2"></label>
            <select id="register-securityQuestion-2" ng-model="question2"
                    ng-options="question.id as question.question for question in questions" ng-required="true">
              <option value="" ng-hide="question2">Select a question</option>
            </select>
            <label for="register-securityAnswer-2"></label>
            <input type="text" id="register-securityAnswer-2" placeholder="Answer"
                   ng-model="newUser.user.questions.answer2" ng-required="true">
            <label for="register-securityQuestion-3"></label>
            <select id="register-securityQuestion-3" ng-model="question3"
                    ng-options="question.id as question.question for question in questions" ng-required="true">
              <option value="" ng-hide="question3">Select a question</option>
            </select>
            <label for="register-securityAnswer-3"></label>
            <input type="text" id="register-securityAnswer-3" placeholder="Answer"
                   ng-model="newUser.user.questions.answer3" ng-required="true">
          </div>
        </div>

      </div>

      <button type="submit" data-theme="a" data-icon="check">Register</button>
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
