<div data-role="page" data-theme="b" id="search-results">

  <div data-role="panel" id="refine-panel" data-position="right" data-display="overlay" data-theme="a">
    <ul data-role="listview">
      <li><a href="#" data-rel="close" class="ui-icon-check">Done</a></li>
      <li data-role="list-divider">Sort by</li>
      <li ng-repeat="sortOption in sortOptions">
        <a href="#" ng-click="sortBy(sortOption)">{{ sortOption.name }}</a>
      </li>
    </ul>
  </div>

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Search Results</h1>

    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#refine-panel" class="ui-btn ui-shadow ui-icon-gear ui-btn-icon-notext ui-mini">Refine</a>
      <a href="#shopping-cart" class="ui-btn ui-shadow ui-icon-shop ui-btn-icon-notext ui-mini">Cart</a>
    </div>

    <form data-ajax="false" id="search-form" ng-submit="submitSearch()">
      <input id="search" name="search" type="search" data-mini="true" placeholder="Search Products"
             ng-model="searchQuery">
    </form>

  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="b" data-divider-theme="a" data-inset="true" id="resultList">
      <li data-role="list-divider">
        <table>
          <tr>
            <td>Products</td>
            <td><span class="ui-li-count">{{results.length}}</span></td>
          </tr>
        </table>
      </li>
      <li ng-repeat="result in results | orderBy: selectedSortOption.property">
        <a href="#item-view" data-transition="slide" ng-click="setItem(result)">
          <table class="ui-responsive wrap-text">
            <tr>
              <th rowspan="4">
                <img ng-src="{{result.picture}}" class="ui-corner-all" width="75px" height="75px">
              </th>
              <th rowspan="4" style="padding-left: 5px; padding-right: 5px;"></th>
              <th colspan="2">
                <strong><abbr title="{{ result.productName | truncate:15 }}">
                  {{ result.productName | truncate:15 }}</abbr></strong>
              </th>
            </tr>
            <tr>
              <td><strong>Brand</strong></td>
              <td><em>{{ result.brand }}</em></td>
            </tr>
            <tr>
              <td><strong>Current Bid</strong></td>
              <td><em>{{ result.currentBid | currency }}</em></td>
            </tr>
            <tr>
              <td><strong>Price</strong></td>
              <td><em>{{ result.nonbidPrice | currency }}</em></td>
            </tr>
          </table>
        </a>
      </li>
    </ul>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>
</div>
