<div data-role="page" data-theme="b" id="search-results">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Search Results</h1>

    <!--go back to the index page data-rel="back" reverse the transition back -->
    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>

    <a href="#shopping-cart" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>

    <form data-ajax="false" id="search-form" ng-submit="submitSearch()">
      <input id="search" name="search" type="search" data-mini="true" placeholder="Search Products"
             ng-model="searchQuery">
    </form>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-theme="b" data-divider-theme="a" data-inset="true" id="resultList">
      <!--<ul data-role="listview" data-theme="c" data-inset="true" id="resultList">-->
      <!--jqm1.3.2-->
      <li data-role="list-divider">
        <table>
          <tr>
            <td>Products</td>
            <td><span class="ui-li-count">{{results.length}}</span></td>
          </tr>
        </table>
      </li>
      <li ng-repeat="result in results">
        <a href="#item-view" data-transition="slide" ng-click="setItem(result)">
          <img ng-src="{{result.picture}}" class="center-image ui-corner-all" width="75px" height="75px">

          <h3 class="ul-li-heading">{{ result.productName | truncate:15 }}</h3>

          <p class="ul-li-desc"><strong>{{ result.brand }}</strong></p>

          <p class="ul-li-desc">{{ result.nonbidPrice | currency }}</p>
        </a>
      </li>
    </ul>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>
</div>
