<div data-role="page" data-theme="b" id="sell-item">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Sell Item</h1>

        <!--go back to the index page data-rel="back" reverse the transition back -->
        <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>

        <a href="" id="shopping-cart" data-role="button" class="ui-btn-right">Cart</a>

        <input id="search" name="search" type="search" data-mini="true" placeholder="Search">
    </div>

    <div data-role="content">
        <link rel="stylesheet" href="css/sellItem.css"/>
        <div id="container" class="container">
            <div id="left" class="left"><a href="" data-role="button" data-theme="" id="add-image" class="add-image">Add Image</a></div>
            <div id="right" class="right"><textarea id="text-input-title" class="text-input-title" placeholder="Write the title of the item"></textarea></div>
        </div>

        <ul data-role="listview" data-dividertheme="d" data-theme="c" data-inset="true">
            <li><a href="">Category</a></li>
            <li><a href="#popupCondition" data-rel="popup" data-position-to="window" data-transition="pop">Condition</a></li>
            <li><a href="#popupDescription" data-rel="popup" data-position-to="window" data-transition="pop">Description</a></li>
            <li><a href="#popupFormatPrice" data-rel="popup" data-position-to="window" data-transition="pop">Format & Price</a></li>
            <li><a href="#popupShipping" data-rel="popup" data-position-to="window" data-transition="pop">Shipping</a></li>
        </ul>
    </div>

    <div data-role="footer" data-theme="a" class="ui-bar footer">
        <a href="" data-role="button" id="preview-button" class="preview-button">Preview</a>
    </div>

    <div data-role="popup" id="popupMenu" data-theme="a">

        <div data-role="popup" id="popupCondition" data-theme="a" class="ui-corner-all">
            <form>
                <div style="padding:10px 20px;">
                    <h3>Select the condition</h3>

                    <form>
                        <fieldset data-role="controlgroup">
                            <input type="radio" name="radio-choice" id="radio-choice-new" checked="checked">
                            <label for="radio-choice-new">New</label>
                            <input type="radio" name="radio-choice" id="radio-choice-used">
                            <label for="radio-choice-used">Used</label>
                            <input type="radio" name="radio-choice" id="radio-choice-refurbished">
                            <label for="radio-choice-refurbished">Refurbished</label>
                        </fieldset>
                        <a href="#sell-item" data-role="button">OK</a>
                        <a href="#sell-item" data-role="button">Cancel</a>
                    </form>
                </div>
            </form>
        </div>

        <div data-role="popup" id="popupDescription" data-theme="a" class="ui-corner-all">
            <form>
                <div style="padding:10px 20px;">
                    <h3>Description</h3>

                    <form>
                        Brand
                        <input type="text" id="brand">
                        Model
                        <input type="text" id="model">
                        Dimension
                        <input type="text" id="dimension">
                        Description
                        <textarea name="description" id="description" cols="30" rows="10"
                                  style="max-height: 75px"></textarea>
                        <a href="#sell-item" data-role="button">OK</a>
                        <a href="#sell-item" data-role="button">Cancel</a>
                    </form>
                </div>
            </form>
        </div>

        <div data-role="popup" id="popupFormatPrice" data-theme="a" class="ui-corner-all">
            <form>
                <div style="padding:10px 20px;">
                    <h3>Format & Price</h3>

                    <form>
                        Format
                        <fieldset data-role="controlgroup">
                            <input type="radio" name="radio-choice" id="radio-choice-buy-it-now" checked="checked">
                            <label for="radio-choice-buy-it-now">Buy it now</label>
                            <input type="radio" name="radio-choice" id="radio-choice-bid">
                            <label for="radio-choice-bid">Bid</label>
                        </fieldset>

                        Start Price
                        <input type="text">

                        Duration
                        <select name="select-duration" id="select-duration">
                            <option value="3">3 days</option>
                            <option value="5">5 days</option>
                            <option value="7">7 days</option>
                            <option value="10">10 days</option>
                        </select>

                        End Time
                        <input type="date" data-clear-btn="false" name="date" id="set-date" value="2013-10-20">


                        <a href="#sell-item" data-role="button">OK</a>
                        <a href="#sell-item" data-role="button">Cancel</a>
                    </form>
                </div>
            </form>
        </div>
        <div data-role="popup" id="popupShipping" data-theme="a" class="ui-corner-all">
            <form>
                <div style="padding:10px 20px;">
                    <h3>Shipping</h3>

                    <form>
                        Domestic shipping
                        <a href="#sell-item" data-role="button">OK</a>
                        <a href="#sell-item" data-role="button">Cancel</a>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();

        $('#set-date').val(yyyy + "-" + mm + "-" + dd);

    </script>
</div>
