<div data-role="page" data-theme="b" id="sell-item-preview">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Preview</h1>
    <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">

    <table data-role="table" data-mode="none">
      <thead>
      <tr>
        <th><h3>{{ previewItemInfo.productName }}</h3></th>
      </tr>
      <tr></tr>
      </thead>
      <tbody>
      <tr>
        <td align="center">
          <img ng-src="{{previewItemInfo.picture}}" class="item-photo-big ui-corner-all" src="" alt="Product_Picture">
        </td>
      </tr>
      </tbody>
    </table>

    <hr/>

    <ul data-role="listview" data-theme="a" data-inset="true">
      <li>
        <table>
          <tr>
            <td><strong>Starting bid:</strong></td>
            <td><em>{{ previewItemInfo.startingBidPrice | currency }}</em></td>
          </tr>
          <tr>
            <td><strong>Buy It Now:</strong></td>
            <td><em>{{ previewItemInfo.nonbidPrice | currency }}</em></td>
          </tr>
          <tr>
            <td><strong>Shipping:</strong></td>
            <td><em>{{ previewItemInfo.shippingPrice | currency }}</em></td>
          </tr>
          <tr>
            <td><strong>Available Quantity:</strong></td>
            <td><em>{{ previewItemInfo.quantity }}</em></td>
          </tr>
        </table>
      </li>
      <li>
        <table>
          <tr>
            <td><strong>End Date:</strong></td>
            <td><em>{{ previewItemInfo.bidEndDate | date:'medium' }}</em></td>
          </tr>
        </table>
      </li>
      <li>
        <table>
          <tr>
            <td><strong>Category:</strong></td>
            <td><em>{{ previewItemInfo.categoryName }}</em></td>
          </tr>
          <tr>
            <td><strong>Condition:</strong></td>
            <td><em>{{ previewItemInfo.condition }}</em></td>
          </tr>
        </table>
      </li>
      <li>
        <table>
          <tr>
            <td><strong>Brand:</strong></td>
            <td><em>{{ previewItemInfo.brand }}</em></td>
          </tr>
          <tr>
            <td><strong>Model:</strong></td>
            <td><em>{{ previewItemInfo.model }}</em></td>
          </tr>
          <tr>
            <td><strong>Dimensions:</strong></td>
            <td><em>{{ previewItemInfo.dimensions }}</em></td>
          </tr>
          <tr>
            <td><strong>Additional Description:</strong></td>
            <td><em class="wrap-text">{{ previewItemInfo.description }}</em></td>
          </tr>
        </table>
      </li>
    </ul>

  </div>

  <div data-role="popup" id="sellItemPrev-statusPopup" data-theme="b" class="ui-corner-all ui-content">
    <a href="#sell-item-preview" data-rel="external" data-role="button" data-theme="a" data-icon="delete"
       data-iconpos="notext" class="ui-btn-right">Close</a>
    <p id="sellItemPrev-statusPopupMessage" style="text-align: center"></p>
  </div>

  <div data-role="footer" data-theme="a">
    <button type="submit" data-icon="false"
            class="footer-button ui-btn ui-btn-b ui-btn-icon-right ui-btn-corner-all ui-btn-inline"
            ng-click="submitDraft()">
      Save as Draft
    </button>
    <button type="submit"
            class="footer-button ui-btn ui-btn-b ui-icon-check ui-btn-icon-right ui-btn-corner-all ui-btn-inline"
            ng-click="submitProduct()">
      Submit
    </button>
  </div>

</div>

