<div data-role="page" data-theme="b" id="sell-item-preview">
  <form data-ajax="false" ng-submit="submit()">

    <div data-role="header" data-position="fixed" data-theme="a">
      <h1>Preview</h1>

      <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
    </div>


    <div data-role="content">

      <table data-role="table" data-mode="none">
        <thead>
        <tr>
          <th><h3 class="item-title">{{ previewItemInfo.productName }}</h3></th>
        </tr>
        <tr></tr>
        </thead>
        <tbody>
        <tr>
          <td align="center"><img src="{{previewItemInfo.picture}}" id="item-photo" class="item-photo ui-corner-all"/>
          </td>
        </tr>
        </tbody>
      </table>

      <hr/>

      <ul data-role="listview" data-theme="a" data-inset="true">
        <li>
          <p class="item-description-text-size"> Starting bid: {{ previewItemInfo.startingBidPrice | currency }}</p>

          <p class="item-description-text-size"> Buy it Now: {{ previewItemInfo.nonbidPrice | currency }} </p>

          <p class="item-description-text-size"> Shipping: {{ previewItemInfo.shippingPrice | currency }} </p>

          <p class="item-description-text-size"> Available Quantity: {{ previewItemInfo.quantity }} </p>
        </li>
        <li>
          <p class="item-description-text-size"> Time Left: {{ remainingTime | date:'yyyy-MM-dd HH:mm:ss' }} </p>

          <p class="item-description-text-size"> End Date: {{ previewItemInfo.bidEndDate | date:'yyyy-MM-dd HH:mm:ss'
            }} </p>
        </li>
        <li>
          <p class="item-description-text-size"> Condition: {{ previewItemInfo.condition }} </p>
        </li>
        <li>
          <p class="item-description-text-size"> Description </p>
          <table>
            <tr>
              <td>
                <p class="item-description-text-size"> Brand: </p>
              </td>
              <td>
                <p class="item-description-text-size"> {{previewItemInfo.brand}} </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="item-description-text-size"> Model: </p>
              </td>
              <td>
                <p class="item-description-text-size"> {{ previewItemInfo.model}} </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="item-description-text-size"> Dimensions: </p>
              </td>
              <td>
                <p class="item-description-text-size"> {{previewItemInfo.dimensions}} </p>
              </td>

            </tr>
            <tr>
              <td>
                <p class="item-description-text-size"> Additional Description: </p>
              </td>
              <td>
                <p class="item-description-text-size" style="text-wrap: normal !important;">
                  {{previewItemInfo.description}} </p>
              </td>

            </tr>
          </table>

        </li>
      </ul>
    </div>

    <div data-role="footer" data-theme="a">
      <button type="submit" class="footer-button ui-btn ui-btn-b ui-icon-check ui-btn-icon-right
      ui-btn-corner-all ui-btn-inline">Submit
      </button>
    </div>
  </form>
</div>

