<div data-role="page" data-theme="b" id="sell-item-preview">
  <form data-ajax="false" ng-submit="submit()">
    <div data-role="header" data-position="fixed" data-theme="a">
      <h1>Preview</h1>

      <!--go back to the index page data-rel="back" reverse the transition back -->
      <a href="#" data-role="button" data-rel="back" data-icon="back" data-direction="reverse">Back</a>
    </div>


    <div data-role="content">
      <h3 class="item-title">{{ previewItemInfo.productName }}</h3>
      <!--<a href="" data-role="button" id="save-button" class="save-button"><p>Save</p></a><hr/>-->
      <img ng-src="{{previewItemInfo.picture}}" id="item-photo" class="item-photo"/>

      <hr/>

      <ul data-role="listview" data-theme="c" data-inset="true">
        <li>
          <p class="item-description-text-size"> Starting bid: {{ previewItemInfo.startingBidPrice | currency }}</p>

          <p class="item-description-text-size"> Buy it Now: {{ previewItemInfo.nonbidPrice | currency }} </p>

          <p class="item-description-text-size"> Shipping: {{ previewItemInfo.shippingPrice | currency }} </p>

          <p class="item-description-text-size"> Available Quantity: {{ previewItemInfo.quantity }} </p>
        </li>
        <li>
          <p class="item-description-text-size"> Time Left: {{ remainingTime | date:'yyyy-MM-dd HH:mm:ss' }} </p>
          <p class="item-description-text-size"> End Date: {{ previewItemInfo.bidEndDate | date:'yyyy-MM-dd HH:mm:ss' }} </p>
        </li>
        <li>
          <p class="item-description-text-size"> Condition: {{ previewItemInfo.condition }} </p>
        </li>
        <li>
          <p class="item-description-text-size"> Description </p>
          <table>
            <tr>
              <td>
                <p class="item-description-text-size"> Brand: </p>
              </td>
              <td>
                <p class="item-description-text-size"> {{previewItemInfo.brand}} </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="item-description-text-size"> Model: </p>
              </td>
              <td>
                <p class="item-description-text-size"> {{ previewItemInfo.model}} </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="item-description-text-size"> Dimensions: </p>
              </td>
              <td>
                <p class="item-description-text-size"> {{previewItemInfo.dimensions}} </p>
              </td>

            </tr>
            <tr>
              <td>
                <p class="item-description-text-size"> Additional Description: </p>
              </td>
              <td>
                <p class="item-description-text-size" style="text-wrap: normal !important;"> {{previewItemInfo.description}} </p>
              </td>

            </tr>
          </table>

        </li>
      </ul>
    </div>

    <div data-role="footer" data-theme="a">
      <button type="submit" class="footer-button ui-btn ui-btn-b ui-icon-check ui-btn-icon-right ui-btn-corner-all">Submit</button>

      <!--<a href="" data-role="button" id="submit-button" class="preview-button">Submit</a>-->
      <!--<button type="submit" data-icon="check" data-theme="a" class="footer-button">Submit</button>-->
      <!--<button type="submit" data-icon="check" data-theme="a" class="submit-item-button" ng-click="changeToHome()">Submit</button>-->
    </div>
  </form>
</div>

