<div data-role="page" data-theme="b" id="shopping-cart">
    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>Shopping Cart</h1>

        <!--go back to the index page data-rel="back" reverse the transition back -->
        <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>

        <input id="search" name="search" type="search" data-mini="true" placeholder="Search">

    </div>

    <div data-role="content">

        <ul data-role="listview" data-theme="c" data-inset="true">
            <li>
                <a style="font-size: 75%; white-space: normal">
                    <img src="img/shopping-cart.png" class="item-image">
                    Samsung Serie 7 TouchScreen Ultrabook i5 4GB Ram 256SSD 13.3"
                    <p class="ui-li-aside"><strong>$629.88</strong><br>  </p>
                </a>
                <a href="#popupNotification" data-inline="true" data-icon="gear"  data-rel="popup" data-position-to="window" data-transition="pop">

                </a>
            </li>
            <li>
                <a style="font-size: 75%; white-space: normal; ">
                    <img src="img/shopping-cart.png" class="item-image">
                    Samsung Serie 7 TouchScreen Ultrabook i5 4GB Ram 256SSD 13.3"
                    <p class="ui-li-aside"><strong>$629.88</strong><br>  </p>
                </a>
                <a href="#popupNotification" data-inline="true" data-icon="gear" data-rel="popup" data-position-to="window" data-transition="pop">

                </a>
            </li>
        </ul>
    </div>

    <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

    <div data-role="popup" id="popupNotification" data-theme="a" class="ui-corner-all">
            <div style="padding:10px 20px;">
                <h3>Select an action</h3>
                <a href="" data-role="button">Delete</a>
                <a href="#shopping-cart" data-role="button">Cancel</a>
            </div>
    </div>

    <link rel="stylesheet" href="css/shoppingCart.css"/>

</div>
