<div data-role="page" data-theme="b" id="shopping-cart">

  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Shopping Cart</h1>
    <a href="#" data-role="button" data-icon="back" data-rel="back" data-direction="reverse">Back</a>

    <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
      <a href="#home-user" class="ui-btn ui-shadow ui-icon-home ui-btn-icon-notext ui-mini">Home</a>
    </div>
    <search></search>
  </div>

  <div data-role="content">

    <ul data-role="listview" data-divider-theme="a" data-theme="b" data-inset="true" id="cart-shoppingCartList">
      <li data-role="list-divider">Items<span class="ui-li-count">{{shoppingCarts.length}}</span></li>
      <li ng-repeat="shoppingCart in shoppingCarts">
        <a href="#item-view" data-transition="slide" ng-click="setItem(shoppingCart)">
          <table class="ui-responsive medium-text wrap-text">
            <tr>
              <th rowspan="4">
                <img ng-src="{{shoppingCart.picture}}" class="item-photo-small ui-corner-all"
                     src="" alt="Product_Picture">
              </th>
              <th rowspan="4" class="pad"></th>
              <th colspan="3">
                <strong><abbr title="{{shoppingCart.productName}}">
                  {{shoppingCart.productName | truncate:15}}</abbr></strong>
              </th>
            </tr>
            <tr>
              <td><strong>Product</strong></td>
              <td class="pad"></td>
              <td ng-show="shoppingCart.isBidItem"><em>{{shoppingCart.productTotalBidPrice | currency}}</em></td>
              <td ng-show="!shoppingCart.isBidItem"><em>{{shoppingCart.productTotalNonBidPrice | currency}}</em></td>
            </tr>
            <tr>
              <td><strong>Shipping</strong></td>
              <td class="pad"></td>
              <td><em>{{shoppingCart.shippingPrice | currency}}</em></td>
            </tr>
            <tr>
              <td><strong>Quantity</strong></td>
              <td class="pad"></td>
              <td><em>{{ shoppingCart.itemQuantity }}</em></td>
            </tr>
          </table>
        </a>
        <a href="#cart-notificationPopup" data-inline="true" data-icon="gear" data-rel="popup"
           data-position-to="window" data-transition="pop"
           ng-click="selectCart(shoppingCart, $index)">
        </a>
      </li>
    </ul>

    <div>
      <table align="right">
        <tr>
          <td align="left">
            Items({{shoppingCarts.length}}):
          </td>
          <td align="right">
            {{cost | currency}}
          </td>
          <td align="left">
        </tr>
        <tr>
          <td>
            Shipping:
          </td>
          <td align="right" class="bottom-line">
            {{shipping | currency}}
          </td>
        </tr>
        <tr>
          <td align="left">
            Cart Subtotal:
          </td>
          <td align="right">
            {{cost + shipping | currency}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div data-role="popup" id="cart-notificationPopup" data-theme="a" class="ui-corner-all">
    <div class="form-pad">
      <h3>Select an action</h3>
      <a href="#shopping-cart" data-role="button" id="cart-deleteItemCartBtn" ng-click="deleteCartItem()"
         data-theme="b">Delete</a>
      <a href="#shopping-cart" data-role="button" data-theme="b">Cancel</a>
    </div>
  </div>

  <div data-role="popup" id="cart-statusPopup" data-theme="a" class="ui-corner-all ui-content">
    <a href="#shopping-cart" data-rel="external" data-role="button" data-theme="b" data-icon="delete"
       data-iconpos="notext" class="ui-btn-right">Close</a>
    <p id="cart-statusPopupMessage" style="text-align: center"></p>
  </div>

  <div data-role="footer" data-theme="a">
    <a href="#proceed-to-checkout" id="cart-proceedToCheckoutBtn" data-role="button" class="footer-button"
       ng-click="setCostAndShipping(shoppingCarts.length, cost, shipping)" data-theme="b">Proceed to Checkout</a>
  </div>

</div>
