<div data-role="page" data-theme="b" id="shopping-cart">
  <div data-role="header" data-position="fixed" data-theme="a">
    <h1>Shopping Cart</h1>

    <!--go back to the index page data-rel="back" reverse the transition back -->
    <a href="#index-page" data-role="button" data-icon="back" data-direction="reverse">Back</a>

    <search></search>

  </div>

  <div data-role="content">

    <ul data-role="listview" data-theme="c" data-inset="true" id="shoppingCartList">
      <li data-role="list-divider">Items<span class="ui-li-count">{{shoppingCarts.length}}</span></li>
      <li ng-repeat="shoppingCart in shoppingCarts">
        <a href="#item-view" class="wrap-text" data-transition="slide">
          <img src="img/shopping-cart.png" class="center-image">
          <table data-rel="table" data-mode="reflow" class="ui-responsive wrap-text">
            <thead>
            <tr>
              <th colspan="2" style="text-align: center">
                <strong><abbr title="{{shoppingCart.productName}}">{{shoppingCart.productName |
                  truncate:15}}</abbr></strong>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><strong>Product</strong></td>
              <td><em>{{shoppingCart.cost | currency}}</em></td>
            </tr>
            <tr>
              <td><strong>Shipping</strong></td>
              <td><em>{{shoppingCart.productShippingPrice | currency}}</em></td>
            </tr>
            <tr>
              <td><strong>Quantity</strong></td>
              <td><em>{{ shoppingCart.quantity }}</em></td>
            </tr>
            </tbody>
          </table>
          <!--{{shoppingCart.productName}}-->
          <!--<p class="ui-li-aside"><strong>{{shoppingCart.cost | currency}}</strong><br>{{shoppingCart.productShippingPrice}}</p>-->
        </a>
        <a href="#popupNotification" data-inline="true" data-icon="gear" data-rel="popup"
           data-position-to="window" data-transition="pop" ng-click="setItem(shoppingCart); selectCart(shoppingCart, $index)">
        </a>
      </li>
    </ul>
    <div>
      <table align="right">
        <tr>
          <td align="left">
            Items({{shoppingCarts.length}}):
          </td>
          <td align="right">
            {{getTotalCost() | currency}}
          </td>

        </tr>
        <tr>
          <td align="left">
            Shipping:
          </td>
          <td align="right" class="line">
            {{getTotalShipping() | currency}}
          </td>
        </tr>
        <tr>
          <td align="left">
            Cart Subtotal:
          </td>
          <td align="right">
            {{getTotalCost() + getTotalShipping() | currency}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div data-role="footer" data-theme="a">
    <a href="" data-role="button" id="check-out" class="check-out">Proceed to Checkout</a>
  </div>

  <div data-role="popup" id="popupNotification" data-theme="a" class="ui-corner-all">
    <div style="padding:10px 20px;">
      <h3>Select an action</h3>
      <a href="#shopping-cart" data-role="button" ng-click="deleteCartItem()">Delete</a>
      <a href="#shopping-cart" data-role="button">Cancel</a>
    </div>
  </div>

</div>
