.emarket-logo {
  width: 35%;
  height: 35px;
  background: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ui-grid-a {
  height: 130px;
}

.my-emarket-buying {
  line-height: 65px;
}

.categories {
  line-height: 65px;
}

.sell-item {
  line-height: 65px;
}

.recently-viewed {
  line-height: 65px;
}

.notifications {
  line-height: 65px;
}

.home-admin {
  line-height: 65px;
}

.invoices {
  line-height: 65px;
}

.payment-options {
  line-height: 65px;
}

.profile {
  line-height: 65px;
}

.settings {
  line-height: 65px;
}

.categories-admin {
  line-height: 65px;
}

.user-accounts {
  line-height: 65px;
}

.admin-accounts {
  line-height: 65px;
}

.reports {
  line-height: 65px;
}

p.index-text-size {
  font-size: 75%;
}

.login-user {
  left: 35%;
  width: 30%;
}

div.footer {
  position: absolute;
  bottom: 0;
  width: 100%
}

img.center-image {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

td.pad {
  padding-left: 5px;
  padding-right: 5px;
}

.wrap-text {
  white-space: normal !important;
  font-size: 90%;
}

.small-text {
  font-size: 75%;
}

.xsmall-text {
  font-size: 70%;
}

.form-pad {
  display: block;
  padding: 10px 20px;
}
