/* eMarket Logo CSS*/

.eMarket-logo {
    width: 35%;
    height: 35px;
    background: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Error Message Styles */

.labelError {
    display: inline-block;
    font: 12px Tahoma, sans-serif;
    color: #ED7476;
    margin: 10px 0;
}

/* Image Manipulation */

/* Only Works on Chrome, currently not in use. */
/* table align=center works on all browsers. */
img.center-image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

img.item-photo-big {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.item-photo-small {
    width: 75px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Table Manipulations */

.table-cell-left {
    display: table-cell;
    float: left;
}

.table-cell-right {
    display: table-cell;
    float: right;
}

/* Text Wrapping */

.wrap-text {
    white-space: normal !important;
}

/* Grid Manipulation */

.grid-height {
    line-height: 65px;
}

/* Padding */

.form-pad {
    display: block;
    padding: 10px 20px;
}

.pad {
    padding-left: 5px;
    padding-right: 5px;
}

.bidPad {
    padding-left: 15px;
    padding-right: 15px;
}

.hugePad {
    padding-left: 25px;
    padding-right: 25px;
}

/* Font Manipulation*/

.medium-text {
    font-size: 80%;
}

.small-text {
    font-size: 75%;
}

.x-small-text {
    font-size: 70%;
}

.bold-font {
    font-weight: bold;
}

/* Button Manipulation*/

.footer-button {
    width: 40%;
}

/* Border Manipulation */

.bottom-line {
    border-bottom: solid 2px;
}

/* JQM Class Override*/

.ui-footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    text-align: center
}

.ui-content {
    margin-bottom: 40px; /* Set this to whatever your footer size is... */
}

.ui-grid-solo {
    height: 100px;
}

/* HTML Manipulation*/

hr {
    clear: both;
    visibility: hidden;
}

textarea {
    resize: none !important;
}
