.emarket-logo {
    width: 35%;
    height: 35px;
    background: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ui-grid-a {
    height:130px;
}

#shopping-cart {
    right: 0;
    top: 0;
}

.my-emarket-buying {
    line-height: 65px;
}
.categories {
    line-height:65px;
}
.sell-item {
    line-height:65px;
}
.recently-viewed {
    line-height:65px;
}
.notifications {
    line-height:65px;
}

.invoices {
    line-height:65px;
}
.payment-options {
    line-height:65px;
}
.profile {
    line-height:65px;
}

.settings {
    line-height:65px;
}

p {
    font-size: 75%;
}
.login-user {
    left:35%;
    width:30%;
}

