.item-title {
    display: table-cell;
    width: 70%;
    float: left;
}

.place-bid-button {
    display: table-cell;
    float: left;
}

.buy-it-now-button {
    display: table-cell;
    float: right;
}

/*.save-button {*/
    /*display: table-cell;*/
    /*float: right;*/
/*}*/



/*.item-photo {*/
/*width: 150px;*/
/*height: 150px;*/
/*display: block;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/



/*p.item-button-text-size {*/
/*font-size: 75%;*/
/*}*/

/*p.item-description-text-size {*/
/*font-size: 100%;*/
/*font-weight: bold;*/
/*}*/
