<div data-role="page" data-theme="b" id="add-admin"> <!-- data-role="page" delinate a page -->

  <!-- Header of the page -->
  <div data-role="header" data-theme="a" data-position="fixed" id="index-header">
    <h1>Add Admin</h1>
    <a href="#admin-accounts" data-role="button" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="username">Username</label>
        <input type="text" id="username" ng-model="addAdmin.adminUserName">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" ng-model="addAdmin.adminFirstName">
        <label for="middle-name">Middle Name</label>
        <input type="text" id="middle-name" ng-model="addAdmin.adminMiddleName">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" ng-model="addAdmin.adminLastName">
        <label for="email">Email</label>
        <input type="email" id="email" ng-model="addAdmin.adminEmail">
        <label for="telephone">Telephone</label>
        <input type="tel" id="telephone" ng-model="addAdmin.adminPhone">
        <label for="password"><strong>Password</strong></label>
        <input type="password" id="password" autocomplete="off" ng-model="addAdmin.adminPassword">
        <label for="password-confirm"><strong>Confirm Password</strong></label>
        <input type="password" id="password-confirm" autocomplete="off"
               ng-model="validateAdmin.adminConfirmPassword">
        <label for="make-root">Make Root</label>
        <input name="make-root" id="make-root" class="custom" data-mini="true" type="checkbox"
               ng-model="addAdmin.adminIsRoot">
      </div>
      <!-- un anchor por ahora-->
      <div data-role="controlgroup" data-type="horizontal" style="text-align: center">
        <a href="#admin-accounts" data-role="button" data-icon="back" data-theme="a" data-transition="fade">Cancel</a>
        <!--<a href="#admin-accounts" data-role="button" data-icon="check" data-theme="a" data-transition="fade">Submit</a>-->
        <button type="submit" data-icon="check" data-theme="a">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="footer" data-theme="a" class="footer"><h1></h1></div>

</div>
