<div data-role="page" data-theme="a" id="add-user">

  <div data-role="header" data-theme="b" data-position="fixed" id="index-header">
    <h1>Add User</h1>
    <a href="#user-accounts" data-role="button" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">

    <form data-ajax="false" ng-submit="submit()">

      <div data-role="collapsible-set" data-theme="b" data-content-theme="false">

        <div data-role="collapsible" data-collapsed="false">
          <h3>Personal Information</h3>

          <div class="form-pad">
            <label for="addUser-firstName">First Name</label>
            <input type="text" id="addUser-firstName" ng-model="addUser.user.userFirstName" ng-required="true">
            <label for="addUser-middleName">Middle Name</label>
            <input type="text" id="addUser-middleName" ng-model="addUser.user.userMiddleName" ng-required="false">
            <label for="addUser-lastName">Last Name</label>
            <input type="text" id="addUser-lastName" ng-model="addUser.user.userLastName" ng-required="true">
            <hr/>
            <label for="addUser-mailing"><strong>Mailing Address</strong></label>
            <input type="hidden" id="addUser-mailing">
            <hr/>
            <label for="addUser-mailingAddress">Address</label>
            <input type="text" id="addUser-mailingAddress" ng-model="addUser.mailAddress.mailAddress"
                   ng-required="true">
            <label for="addUser-mailingCountry">Country</label>
            <input type="text" id="addUser-mailingCountry" ng-model="addUser.mailAddress.country" ng-required="true">
            <label for="addUser-mailingGeographicalRegion">State/Providence/Region</label>
            <input type="text" id="addUser-mailingGeographicalRegion"
                   ng-model="addUser.mailAddress.geographicalRegion" ng-required="false">
            <label for="addUser-mailingCity">City</label>
            <input type="text" id="addUser-mailingCity" ng-model="addUser.mailAddress.city" ng-required="true">
            <label for="addUser-mailingZipCode">Zip Code</label>
            <input type="tel" id="addUser-mailingZipCode" ng-model="addUser.mailAddress.zipCode" ng-required="true">
            <hr/>
            <label for="addUser-billing"><strong>Billing Address</strong></label>
            <input type="hidden" id="addUser-billing">
            <hr/>
            <label for="addUser-sameAsMailing">Same as Mailing Address</label>
            <input type="checkbox" id="addUser-sameAsMailing" ng-click="disableBillAddress()" ng-required="false">
            <label for="addUser-billingAddress">Address</label>
            <input type="text" id="addUser-billingAddress" ng-model="addUser.billAddress.billAddress"
                   ng-required="true">
            <label for="addUser-billingCountry">Country</label>
            <input type="text" id="addUser-billingCountry" ng-model="addUser.billAddress.country" ng-required="true">
            <label for="addUser-billingGeographicalRegion">State/Providence/Region</label>
            <input type="text" id="addUser-billingGeographicalRegion"
                   ng-model="addUser.billAddress.geographicalRegion" ng-required="false">
            <label for="addUser-billingCity">City</label>
            <input type="text" id="addUser-billingCity" ng-model="addUser.billAddress.city" ng-required="true">
            <label for="addUser-billingZipCode">Zip Code</label>
            <input type="tel" id="addUser-billingZipCode" ng-model="addUser.billAddress.zipCode"
                   ng-required="true">
            <label for="addUser-telephone">Telephone</label>
            <input type="tel" id="addUser-telephone" ng-model="addUser.user.telephone" ng-required="true">
          </div>
        </div>

        <div data-role="collapsible">
          <h3>Credit Card Information</h3>

          <div class="form-pad">
            <label for="addUser-cardName">Name as Appear in Card</label>
            <input type="text" id="addUser-cardName" ng-model="addUser.creditCard.creditCardName" ng-required="true">
            <label for="addUser-cardType">Card Type</label>
            <select id="addUser-cardType" ng-model="addUser.creditCard.creditCardType" ng-required="true">
              <option value="Visa" selected>Visa</option>
              <option value="Master Card">Master Card</option>
              <option value="American Express">American Express</option>
              <option value="Other">Other</option>
            </select>
            <label for="addUser-cardNumber">Card Number</label>
            <input type="number" id="addUser-cardNumber" ng-model="addUser.creditCard.creditCardNumber"
                   ng-required="true">
            <label for="addUser-expDate">Expiration Date</label>
            <input type="month" id="addUser-expDate" ng-model="addUser.creditCard.creditCardExpDate" ng-required="true">
            <label for="addUser-cardSecurityCode">Card Security Code</label>
            <input type="number" id="addUser-cardSecurityCode" ng-model="addUser.creditCard.creditCardCvs"
                   ng-required="true">
          </div>
        </div>

        <div data-role="collapsible">
          <h3>Login Information</h3>

          <div class="form-pad">
            <label for="addUser-email">Email</label>
            <input type="email" id="addUser-email" ng-model="addUser.user.userEmail" ng-required="true">
            <label for="addUser-username">Username</label>
            <input type="text" id="addUser-username" ng-model="addUser.user.username" ng-required="true">
            <label for="addUser-password">Password</label>
            <input type="password" id="addUser-password" autocomplete="off" ng-model="addUser.user.userPassword"
                   ng-required="true">
            <label for="addUser-passwordConfirm">Confirm Password</label>
            <input type="password" id="addUser-passwordConfirm" autocomplete="off"
                   ng-model="addUser.validateUser.userConfirmPassword" ng-required="true">
            <label for="addUser-securityQuestions">Security Questions</label>
            <input type="hidden" id="addUser-securityQuestions" ng-required="true">
            <label for="addUser-securityQuestion-1"></label>
            <select id="addUser-securityQuestion-1" ng-model="question1"
                    ng-options="question.id as question.question for question in questions" ng-required="true">
              <option value="" ng-hide="question1">Select a question</option>
            </select>
            <label for="addUser-securityAnswer-1"></label>
            <input type="text" id="addUser-securityAnswer-1" placeholder="Answer"
                   ng-model="addUser.user.questions.answer1" ng-required="true">
            <label for="addUser-securityQuestion-2"></label>
            <select id="addUser-securityQuestion-2" ng-model="question2"
                    ng-options="question.id as question.question for question in questions" ng-required="true">
              <option value="" ng-hide="question2">Select a question</option>
            </select>
            <label for="addUser-securityAnswer-2"></label>
            <input type="text" id="addUser-securityAnswer-2" placeholder="Answer"
                   ng-model="addUser.user.questions.answer2" ng-required="true">
            <label for="addUser-securityQuestion-3"></label>
            <select id="addUser-securityQuestion-3" ng-model="question3"
                    ng-options="question.id as question.question for question in questions" ng-required="true">
              <option value="" ng-hide="question3">Select a question</option>
            </select>
            <label for="addUser-securityAnswer-3"></label>
            <input type="text" id="addUser-securityAnswer-3" placeholder="Answer"
                   ng-model="addUser.user.questions.answer3" ng-required="true">
          </div>
        </div>

      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#user-accounts" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="footer" data-theme="b"><h1></h1></div>

</div>
