<div data-role="page" data-theme="b" id="edit-admin"> <!-- data-role="page" delinate a page -->

  <!-- Header of the page -->
  <div data-role="header" data-theme="a" data-position="fixed" id="index-header">
    <h1>Edit Admin</h1>
    <a href="#admin-accounts" data-role="button" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">
    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <h4>UserName: <span class="ui-li-count">{{adminInfo.adminUserName}}</span></h4>
        <label for="firstname"><strong>First Name</strong></label>
        <input type="text" id="firstname" ng-model="adminInfo.adminFirstName">
        <label for="middlename"><strong>Middle Name</strong></label>
        <input type="text" id="middlename" ng-model="adminInfo.adminMiddleName">
        <label for="lastname"><strong>Last Name</strong></label>
        <input type="text" id="lastname" ng-model="adminInfo.adminLastName">
        <label for="telephone"><strong>Telephone</strong></label>
        <input type="tel" id="telephone" ng-model="adminInfo.adminPhone">
        <label for="email"><strong>Email</strong></label>
        <input type="email" id="email" ng-model="adminInfo.adminEmail">
        <label for="new-password"><strong>New Password</strong></label>
        <input type="password" id="new-password" autocomplete="off" ng-model="editAdmin.adminPassword">
        <label for="new-password-confirm"><strong>Confirm Password</strong></label>
        <input type="password" id="new-password-confirm" autocomplete="off" ng-model="editAdmin.adminConfirmPassword">
        <label for="make-root"><strong>Make Root</strong></label>
        <input name="make-root" id="make-root" class="custom" data-mini="true" type="checkbox"
               ng-model="adminInfo.adminIsRoot">
      </div>
      <!-- un anchor por ahora-->
      <div data-role="controlgroup" data-type="horizontal" style="text-align: center">
        <a href="#admin-accounts" data-role="button" data-icon="back" data-theme="a" data-transition="fade">Cancel</a>
        <!--<a href="#admin-accounts" data-role="button" data-icon="check" data-theme="a" data-transition="fade">Submit</a>-->
        <button type="submit" data-icon="check" data-theme="a">Submit</button>
      </div>
    </form>
  </div>

  <div data-role="footer" data-theme="a"><h1></h1></div>

</div>
