<div data-role="page" data-theme="a" id="edit-admin">

  <div data-role="header" data-theme="b" data-position="fixed">
    <h1>Edit Admin</h1>
    <a href="#admin-accounts" data-role="button" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">

    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <strong>UserName:</strong>
        <em>{{adminInfo.username}}</em>
        <hr/>
        <label for="editAdmin-firstName"><strong>First Name</strong></label>
        <input type="text" id="editAdmin-firstName" data-theme="b" ng-model="adminInfo.firstName" ng-required="true">
        <label for="editAdmin-middleName"><strong>Middle Name</strong></label>
        <input type="text" id="editAdmin-middleName" data-theme="b" ng-model="adminInfo.middleName" ng-required="false">
        <label for="editAdmin-lastName"><strong>Last Name</strong></label>
        <input type="text" id="editAdmin-lastName" data-theme="b" ng-model="adminInfo.lastName" ng-required="true">
        <label for="editAdmin-telephone"><strong>Telephone</strong></label>
        <input type="tel" id="editAdmin-telephone" data-theme="b" ng-model="adminInfo.telephone" ng-required="true">
        <label for="editAdmin-email"><strong>Email</strong></label>
        <input type="email" id="editAdmin-email" data-theme="b" ng-model="adminInfo.email" ng-required="true">
        <label for="editAdmin-newPassword"><strong>New Password</strong></label>
        <input type="password" id="editAdmin-newPassword" autocomplete="off" data-theme="b"
               ng-model="editAdmin.adminPassword" ng-required="false">
        <label for="editAdmin-newPasswordConfirm"><strong>Confirm Password</strong></label>
        <input type="password" id="editAdmin-newPasswordConfirm" autocomplete="off" data-theme="b"
               ng-model="editAdmin.adminConfirmPassword" ng-required="false">
        <label for="editAdmin-makeRoot"><strong>Make Root</strong></label>
        <input id="editAdmin-makeRoot" data-mini="true" type="checkbox"
               data-theme="b" ng-model="adminInfo.isRoot" ng-required="false">
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#admin-accounts" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
    </form>

  </div>

  <div data-role="footer" data-theme="b"><h1></h1></div>

</div>
