<div data-role="page" data-theme="a" id="edit-category">

  <div data-role="header" data-theme="b" data-position="fixed">
    <h1>Edit Category</h1>
    <a href="#categories-admin" data-role="button" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">

    <form data-ajax="false" ng-submit="submit()">
      <div class="form-pad">
        <label for="editCategory-name">Category Name</label>
        <input type="text" id="editCategory-name" data-theme="b" ng-model="categoryInfo.categoryName"
               ng-required="true">
        <label for="editCategory-parent">Category Parent</label>
        <select id="editCategory-parent" data-theme="b" ng-model="categoryInfo.categoryParent"
                ng-options="category.id as category.categoryName for category in categories" ng-required="false">
          <option value="">None</option>
        </select>
      </div>
      <div data-role="controlgroup" data-type="horizontal" data-theme="b" style="text-align: center">
        <a href="#categories-admin" data-role="button" data-icon="back" data-transition="fade">Cancel</a>
        <button type="submit" data-icon="check">Submit</button>
      </div>
    </form>

  </div>

  <div data-role="footer" data-theme="b"><h1></h1></div>

</div>
