<div data-role="page" data-theme="a" id="home-admin">

  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Admin Panel</h1>
  </div>

  <div data-role="content">

    <div class="ui-grid-solo">
      <a href="#user-accounts" data-role="button" class="grid-height"
         data-transition="fade" data-theme="b">
        <p class="small-text">User Accounts</p>
      </a>
    </div>
    <div class="ui-grid-solo">
      <a href="#admin-accounts" data-role="button" class="grid-height"
         data-transition="fade" data-theme="b">
        <p class="small-text">Admin Accounts</p>
      </a>
    </div>
    <div class="ui-grid-solo">
      <a href="#categories-admin" data-role="button" class="grid-height"
         data-transition="fade" data-theme="b">
        <p class="small-text">System Categories</p>
      </a>
    </div>
    <div class="ui-grid-solo">
      <a href="#reports-day" data-role="button" class="grid-height"
         data-transition="fade" data-theme="b">
        <p class="small-text">View Reports</p>
      </a>

    </div>

    <div data-role="footer" data-theme="b">
      <a href="#index-page" data-role="button" data-theme="a" ng-click="logOut()"
         class="footer-button">Sign Out</a>
    </div>

  </div>

</div>
