<div data-role="page" data-theme="a" id="reports-week">

  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Reports</h1>
    <a href="#home-admin" data-role="button" data-icon="back" data-direction="reverse">Back</a>

    <div data-role="navbar">
      <ul>
        <li><a href="#reports-day">Day</a></li>
        <li><a href="#reports-week" class="ui-btn-active ui-state-persist">Week</a></li>
        <li><a href="#reports-month">Month</a></li>
      </ul>
    </div>
  </div>

  <div data-role="content">
    <form>
      <label for="reportsWeek-selectCategory">Category</label>
      <select id="reportsWeek-selectCategory" data-theme="b" ng-model="selectedCategory"
              ng-options="category.id as category.categoryName for category in categories">
        <option value="" selected>None</option>
      </select>
    </form>
    <div id="reportsWeek-graph"></div>
  </div>

  <div data-role="footer" data-theme="b"><h1></h1></div>

</div>
