<div data-role="page" data-theme="a" id="user-accounts">

  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Users</h1>
    <a href="#home-admin" data-role="button" data-icon="back" data-direction="reverse">Back</a>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-divider-theme="b" data-theme="a"
        data-filter-theme="a" data-inset="true" data-filter="true"
        data-filter-placeholder="Search Users" id="userAcc-userAccountList">
      <li data-role="list-divider">
        <table>
          <tr>
            <td><strong>Users on System</strong></td>
            <td class="pad"></td>
            <td><a href="#add-user" class="ui-btn ui-btn-a ui-icon-plus ui-btn-icon-notext ui-corner-all">Add User</a>
            </td>
            <td><span class="ui-li-count">{{users.length}}</span></td>
          </tr>
        </table>
      </li>
      </li>
      <li data-icon="gear" ng-repeat="user in users">
        <a href="#userAcc-userPopupMenu" data-rel="popup" data-inline="true" data-transition="slideup"
           data-position-to="window" data-icon="gear"
           ng-click="setUserInfo(user); selectUser(user, $index)">{{user.username}}</a>
      </li>
    </ul>
  </div>

  <div data-role="popup" id="userAcc-userPopupMenu" data-theme="a">
    <div class="form-pad">
      <h3>Choose An Action</h3>
      <a href="#edit-user" data-role="button" data-icon="edit" data-theme="b">Edit</a>
      <a href="#user-accounts" data-role="button" data-icon="delete" data-theme="b" ng-click="deleteUser()">Delete</a>
      <a href="#user-accounts" data-role="button" data-icon="back" data-theme="b">Cancel</a>
    </div>
  </div>

  <div data-role="footer" data-theme="b"><h1></h1></div>

</div>
